
<script>

/*

Config

*/

//-- Config panel

var icon_config = $('<img/>').attr('src',"capicon/svg/272.svg")  // icon for config
icon_config.attr('id','icon_config')
           .css({
                'position':'absolute',
                'top':'10px',
                'right':'50%',
                'width':'17px'
              })

var config_panel = $('<div/>').attr('id','config_panel')
$('#content').append(config_panel)

var cp_width = 600
config_panel.css({'background-color': '#ffffff', // Current play list.. '#ecf9f2'
          'box-shadow': '0.5em 0.5em 2.7em',
          'padding-bottom': '90px',
          'padding-top': '30px',
          'padding-left': '50px',
          'padding-right': '50px',
          'position': 'fixed',
          'right': '-' + cp_width + 'px',   // open
          'top': '170px',
          'width': '600px',
          'height': '400px',
          'z-index': '3'
          })
var tit = $('<h3/>').css({'text-align':'center'})
                    .text('Configuration')

// ---- Add elements to play list..

$('#config_panel').append(icon_config)    // pict helmet
                   .append(tit)           // title

var config_state = $('<img/>').attr('src',"capicon/svg/272.svg")  // icon for play_list on/off
config_state.attr('id','config_state')
           .attr('val','false')
           .css({
                'position':'fixed',
                'top':'170px',
                'right':'20px',
                'width':'17px'
              })
$('#content').append(config_state) // 266, 353, 354


var config_open = false

$('#config_state').on('click', function(){   // show / hide play_list

     $('#id_view_image').hide()       // prevent the browser to open the svg..
     $('#id_view_image_body').hide()   //

     var translr = '-' + $('#config_panel').css('width')
     if (!config_open){
          $('#config_panel').animate({'right': ($(window).width()-cp_width) / 2 }) // show
     }
     else{
          $('#config_panel').animate({ 'right': translr}) // hide
     }
     config_open = !config_open
})

</script>
