<!DOCTYPE html>

<html>

<meta charset="UTF-8">

<script src="voice.js"></script>
<script src="voice_specific.js"></script>
<script src="artyom.window.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>


var socket = io.connect();

 //-- trigger artyom..

 var icon_micro = $('<img/>').attr('src',"various_icon/micro2.svg")  // icon for agenda panel
 icon_micro.attr('id','icon_micro')
            .css({
                 'position':'fixed',
                 'bottom':'50px',
                 'right':'10px',
                 'width':'24px'
               })

 $('#content').append(icon_micro)
 icon_micro.click(function(){
       //alert(curr_page)
       socket.emit('trig_voice', curr_page)
 })

 var voice_triggered = 0
 socket.on('trig_voice_recogn', function(name_page){
      //alert(name_page)
      if (curr_page == name_page & !voice_triggered){
          trigger_voice()  // artyom = 
          voice_triggered ^= -1
      }
      else{
         //delete artyom
         window.location.reload() // reload the page for removing artyom if instantiated
      }
 })

</script>

</html>
