
# Introduction

## example

* blabla
	* hop..

$menu_bim link:nm_Edit:ic_edit:href_baragouinage

1/1/16

* 光说空话不做事，犹如花园光长刺
* [Vamosplaya  %%](Vamosplaya.mp4)
* [huppe link](#huppe)
* [cartoonmovement ,,](http://blog.cartoonmovement.com/)
* video eg ::
    * [vidéo 1  ;;](http://www.youtube.com/watch?v=QH2-TGUlwu4)
* adding that
	* [en-direct-nie](http://www.balbucam.fr/fr/en-direct-nie/)
    * yepppp

## Example of equation
* first example
    * sum ::
        * $math \sum_{i=0}^n i^2 = \frac{(n^2+n)(2n+1)}{6}

## blablabla

# barag

25/4/19

* science ::
    * [en-los-castillos-tambien-hay-ciencia-nos-vamos-a-guadamur](https://viajandoconciencia.home.blog/2019/04/22/en-los-castillos-tambien-hay-ciencia-nos-vamos-a-guadamur/)
    * math ::
        * [brunn-minkowski-inequality](https://terrytao.wordpress.com/tag/brunn-minkowski-inequality/)
        * développer de nlles idées..
        * [A Brief History of Strahler Numbers §§](https://www7.informatik.tu-muenchen.de/~esparza/Talks/lata14.pdf)
        * [Lexique_de_la_théorie_des_graphes](https://fr.wikipedia.org/wiki/Lexique_de_la_th%C3%A9orie_des_graphes)
        * [GRAPHS, MATRICES, AND CIRCUIT THEORY §§](https://pdfs.semanticscholar.org/fe8f/2fead3aa49247efcf3da8e86488a5e236310.pdf)
    * ML ::
        * [Stochastic Deep Networks §§](https://arxiv.org/pdf/1811.07429.pdf)
        * commencer à créer des outils pr activité..
    * bio ::
        * [silent-no-more-river-dolphins-turn-out-to-be-talkative](https://cosmosmagazine.com/biology/silent-no-more-river-dolphins-turn-out-to-be-talkative)
    * evol ::
        * [2019-04-callichimaera-perplexa-platypus-crabs](https://phys.org/news/2019-04-callichimaera-perplexa-platypus-crabs.html)

26/4/19

* prog ::
    * mov walls ::
        * vr fonctions pr circ électronique..
            * graphes, ramifications etc..
            * composants
    * repr projet d'éditeur de notes avec node.js..
        * rev code, éditeur qui s'ouvre au bon endroit !!!
        * passer de l'un à l'autre avec barre d'espace..
        * vr pr cacher les librairies..
            * ne mettre que le contenu markdown..
        * cliquer sur la date renvoie à bonne position dans le texte..
    * js ::
        * [seven-javascript-things-i-wish-i-knew-much-earlier-in-my-career](https://www.smashingmagazine.com/2010/04/seven-javascript-things-i-wish-i-knew-much-earlier-in-my-career/)
            * utiliser notation : var direction = x < 200 ? 1 : -1;
* sciences ::
    * algos ::
        * [Heavy-tailed kernels reveal a finer cluster structure in t-SNE visualisations §§](https://arxiv.org/pdf/1902.05804.pdf)
    * math ::
        * [Why Are Big Data Matrices Approximately Low Rank §§](https://epubs.siam.org/doi/pdf/10.1137/18M1183480)
    * phys ::
        * [tournoi-international-des-physiciens-a-l-epfl-les-suisses-5e-finale-vendredi-836074](https://www.lenouvelliste.ch/articles/suisse/tournoi-international-des-physiciens-a-l-epfl-les-suisses-5e-finale-vendredi-836074)
        * [mathematician-traces-his-journey-poverty-prominence](https://www.sciencenews.org/article/mathematician-traces-his-journey-poverty-prominence)
    * divers ::
        * https://castel.dev/post/lecture-notes-1/
* job ::
    * spinoff IMT à Toulouse
    * [spin-off](https://www.telecom-paristech.fr/fr/innovation-entrepreneuriat/spin-off)
    * AMIES, ABG..
    * améliorer maîtrise Atom.io..

27/4/19

* node_straptoc ::
    * intégrer annyang pr perm d'avoir syntaxe.%%%, aide etc..%%%
    * textarea, possib de faire des tabulations..
    * nvm install node
* Caaaaaa alors !!!  INcreible MAdre Diossss !! Es de puta madre !!
* [2D_Gravity_and_Random_Matrices](../../2D_Gravity_and_Random_Matrices.pdf)

27/5/19

* A lire ::
    * fold public/pdf/Phys
    * !fold ../../Téléchargements/Lemonde
