
<style>

@font-face {
    font-family: 'walt';
    src: url('Waltograph/waltograph42.otf');
}

@font-face {
    font-family: 'grund';
    src: url('grundschrift/Grundschrift-Bold.otf');
}

@font-face {
    font-family: 'optype';
    src: url('OpenType-TT/19076.ttf');
}

@font-face {
    font-family: 'caglio';
    src: url('Cagliostro-regular/Cagliostro-Regular.ttf');
}

@font-face {
    font-family: 'garam';
    src: url('BetterEBGaramond-Regular/BetterEBGaramond-Regular-v0.1.otf');
}

@font-face {
    font-family: 'alex';
    src: url('Alexander/Alexander.ttf');
}

@font-face {
    font-family: 'autopia';
    src: url('Autopia-TTF-v1.1/Autopia-Regular.ttf');
}

@font-face {
    font-family: 'museum';
    src: url('museum/MuseumBible.ttf');
}

@font-face {
    font-family: 'libre_carlson_display';
    src: url('Libre-Caslon-Display/LibreCaslonDisplay-Regular.otf');
}


@font-face {
    font-family: 'libre_carlson_text';
    src: url('Libre-Caslon-Text-master/LibreCaslonText-Regular.ttf');
}

@font-face {
    font-family: 'bagnard';
    src: url('Bagnard-Sans-master/BagnardSans.otf');
}

@font-face {
    font-family: 'GentiumPlus';
    src: url('GentiumPlus-5.000/GentiumPlus-I.ttf');
}

@font-face {
    font-family: 'Sniglet';
    src: url('Sniglet v2/Sniglet-Regular.ttf');
}

@font-face {
    font-family: 'butler';
    src: url('Sniglet v2/');
}

@font-face {
    font-family: 'savate';
    src: url('Savate-master/savate-regular.otf');
}

@font-face {
    font-family: 'libertinus';
    src: url('libertinus-serif/libertinusserif-regular.otf ');
}





</style>

<script>

//Grundschrift-Bold.otf    Grundschrift-Light.otf  Grundschrift-Regular.otf
//Grundschrift-Kontur.otf  Grundschrift-Punkt.otf

$('h1').css({'font-family': "libre_carlson_display", 'text-shadow':'none'}) // 0086b3 e64d00 40bf40 c65353 ff4d4d
$('h2').css({'color':'#c65353', 'font-family': "libre_carlson_display", '-webkit-text-stroke-width': '0.5px'}) // 0086b3 e64d00 40bf40 c65353 ff4d4d 1a75ff b3d1ff ff3333 ff9999 8cb3d9
$('h3').css({'color':'#d27979', 'font-family': "libre_carlson_display", 'font-style': 'bold', '-webkit-text-stroke-width': '0.2px'}) // 'Enriqueta', serif
$('#toc').css({'width':'auto !important', 'font-size':'14px', 'top':'70px'})
$('.date').css({"font-family": "'Enriqueta', serif", 'color':'#000000'})
//$('h1').css({'font-family': "'Enriqueta', serif", 'text-shadow':'none'})


MathLive.renderMathInDocument();


</script>
