<script src="keymaster.js"></script>


<script>

function date_full(){

      /*
      Build the text full date
      */

      var date = new Date()
      var sec = date.getSeconds();
      var minute = date.getMinutes();
      var hour = date.getHours();
      var day = date.getDate();
      var month = date.getMonth()+1;
      var year = date.getFullYear();
      var txt_date = [year, month, day, hour, minute, sec].join('_').slice(2)

      return ' ' + txt_date

}

function fill_note(elem, id, postop){

      /*
      Dynamically build textarea and button..
      */

      var butt_save = $('<input/>').attr({
               type: "button",
               id: "save_note",
               value: 'save'
           });
      var textarea = $('<textarea id="text_note" rows="5" cols="33" />')
      elem.append(textarea)
      elem.append(butt_save)


            butt_save.click(function(){            // send inos note to server..
                // Math.round($(document).scrollTop(),1)
                var posdate = ' !id ' + id +  date_full()  // Math.round(,1)
                var txt = $('#text_note').val() + posdate
                //alert(txt)
                socket.emit('save_note', txt)
                $('#note').hide()
            })


}

function note_in_strap(elem, id, postop){

      /*
      Note template
      */

      posnote = postop.toString() + 'px'
      //alert(posnote)

      elem.css({'background-color':'rgb(255,224,102)',
                'padding-left': '20px',
                'padding-right': '20px',
                'padding-bottom': '20px',
                'padding-top': '20px',
                'margin-right': '20px',
                'margin-left': '20px',
                'box-shadow': '0.5em 0.5em 0.7em',
                'position': 'absolute',
                'left': '50px',
                'top': posnote,
                'width': '330px',
                'height': '180px',
                'max-height': '300px',
                //'font-size': '85%',
                'z-index': '3',
                'color': 'black'
                })
      //elem.parents().show()
      elem.draggable()
      elem.empty()
      fill_note(elem, id, postop)

}

function show_note(id, postop){

  //$('#note').show()
  note_in_strap($('#note'), id, postop)

}

//var new_note = false;
socket.on('create_new_note', function(){ // create new note by voice command..
    //alert('hereeeeeee')
    //new_note = true;
    var elem = $(':hover').last()
    id = create_id(elem)
    var postop = Math.round(elem.offset().top,1)  || 0;
    show_note(id, postop)

})

function create_id(elem){

      if (elem.attr('href')){
          var id = elem.attr('href')
      }
      else if (elem.attr('data')){
          var id = elem.attr('data')
      }
      else if (elem.attr('src')){
          var id = elem.attr('src')
      }
      else if (elem.parent().hasClass('youtube')){
          var id = elem.parent().attr('id')
      }

    return id
}


function detect_note(key, value){

  //alert(notes)

  //fill_note($('#note'), key, 0)

  $('.embed_pdf').each(function(){

    var txt = $(this).text()
    try{
        var keysplit = key.trim().split('/')[1].split(' ')[0].trim()

        if (txt.search(keysplit) != -1){
          //alert(pos)
          $(this).hover(function(){
              //alert($(this).offset().top)
              var pos = $(this).offset().top
              $('#note').show()
              //$('#note').attr('top',pos)
              // $('#note').attr('id',key)
              // $('#note').attr('date',date_full())
              $('#note').offset({'top' : pos})
              currval = value.split('!date')[0]
              $('#text_note').val(currval)
              // alert('hover pdf')
              // alert(pos)
              // Math.round($(document).scrollTop(),1)
              $('#save_note').unbind()
              $('#save_note').click(function(){
                    var posdate = ' !id ' + key + date_full() // Math.round(,1)
                    var txt = $('#text_note').val() + posdate
                    alert(txt)
                    socket.emit('save_note', txt)
                    $('#note').hide()
              })

          }
        )}
      }catch(err){}

  }) // embed.each

  $('a').each(function(){
    var txt = $(this).attr('href')
    if (txt){

      if (txt.search(key) != -1){ $(this).hover(function(){
        var pos = $(this).offset().top
        $('#note').show()
        //$('#note').attr('top',pos)
        //$('#note').attr('id',key)
        // $('#note').attr('id',key)
        // $('#note').attr('date',date_full())
        $('#note').offset({'top' : pos})
        currval = value.split('!date')[0]
        $('#text_note').val(currval)
        //alert(value.split('!date')[0])
        // alert('hover href')
        // alert(pos)
        $('#save_note').unbind()
        $('#save_note').click(function(){
              var posdate = ' !id ' + key + date_full() // Math.round(,1)
              var txt = $('#text_note').val() + posdate
              alert(txt)
              socket.emit('save_note', txt)
              $('#note').hide()
        })
      } // end hover..
      )}
    }

  }) // href

} // detect_note

key('alt+c',function(){

      var elem = $(':hover').last()
      id = create_id(elem)
      var postop = Math.round(elem.offset().top,1)  || 0;
      show_note(id, postop)

})

key('alt+n',function(){                           // trigger all the notes..

      socket.emit('ask_notes','')
      socket.on('all_notes', function(txt){

           var notes = JSON.parse(txt)
           $.each(notes, function(key, value) {
                 //alert(key)
                 //alert(notes)
                 detect_note(key, value)

           });

           var elem = $(':hover').last()
           var first_key = Object.keys(notes)[0]
           //alert("notes.keys[0] !!!! " + first_key)
           var id = first_key
           var postop = Math.round(elem.offset().top,1)  || 0;
           show_note(id, postop)

       })

       //alert('hello')

     // //var elem = $(':hover').last()
     // id = 'init'//create_id(elem)
     // var postop = 0 // Math.round(elem.offset().top,1)  || 0;
     //--------------


})


</script>
