
  {% extends "page_struct/base.html" %}

  {% block text %}
      
  {% include "md/pipa_md.html" %}  

  {% endblock %}

  {% block plugins %}
       
    {% include 'plugins/alerts.html' %}' 
    {% include 'plugins/audio.html' %}' 
    {% include 'plugins/djvu.html' %}' 
    {% include 'plugins/epub.html' %}' 
    {% include 'plugins/extract_folder.html' %}' 
    {% include 'plugins/list_folders_for_extract.html' %}' 
    {% include 'plugins/notes.html' %}' 
    {% include 'plugins/photos.html' %}' 
    {% include 'plugins/play_list_vid.html' %}' 
    {% include 'plugins/vid_playing.html' %}' 

  {% endblock %}

  