
<script src="/socket.io/socket.io.js"></script>

<script>

var socket = io.connect();

socket.on('connection', function() {
   socket.emit('join', 'This is a message from client' );

  });

$('.date').click(function(){    // $('.date')
       var patt = $(this).attr('id').split('_')[1]
       //alert("patt is " + patt)
       window.location.href = 'text';
       socket.emit('scroll', patt );// noooothinggggggggggggggggg
       //-------------- Current scroll_html_pos
       var scroll_html_pos = $(document).scrollTop()
       //alert('scroll_html_pos is : ' + scroll_html_pos)
       socket.emit('scroll_html', scroll_html_pos);
  })// end click

  socket.on('scroll_html', function(pos) {
     $(document).scrollTop(pos)
    });


</script>
