
<!DOCTYPE html>
<html>

<meta charset="UTF-8">

{% include 'header.html' %}
<script  src="/edit_textarea.js"></script>
<script  src="/highlight.js"></script>
{% include 'textarea.html' %}

 <script src="/socket.io/socket.io.js"></script>


 <script>

    var socket = io.connect();  //'http://localhost:3000'
    var comment = false;
    var scroll_html_pos = 0
    var pattern = ''

    //------------- Scroll position

    socket.on('scroll', function(code) {
            //alert(code)
            line_number = parseFloat(code.split('+++')[0])
            var patt = code.split('+++')[1]
            if (comment){ alert('in the  client textarea, line_number is : '+ line_number) }
            var h = $('#comment').height()
            if (comment){ alert('height scroll  : '+ h) }
            var pos = line_number*h/25*0.96
            if (comment){ alert(' pos = ' + pos) }
            if (comment){ alert(patt) }
            $('#comment').highlightTextarea({
                  words: [patt]
                });
            $('#comment').scrollTop(pos)

      })

    socket.on('scroll_html', function(pos) {  // save html position of scroll
            scroll_html_pos = pos
            if (comment){ alert(' scroll_html pos = ' + pos) }
      })

      //------------- just a message

    socket.on('connection', function() {
        socket.emit('join', 'This is a message from client textarea !!' );
      });

    //------------- from html to textarea

    socket.on('message', function(message) {     // write html in textarea
        $('#comment').val(message);
        if (comment){ alert('received the text from html via the server !! ') }
      })

    // // //------------- color pattern
    // //
    socket.on('pattern', function(patt) {
          pattern = patt
      })

    //------------- from textarea to html

    $('#submit').click(function(){               // submit new text.. from text to html
          var data = $('#comment').val()
          socket.emit('return', data);
        }) // end click

    $('#go_back').click(function(){               // submit new text.. from text to html
          socket.emit('scroll_html', scroll_html_pos);
        }) // end click

    text_area_redefine_cmds()

    $('#comment').bind('contextmenu', function(e){  // when clicking right go back to html
          e.preventDefault();
          document.getElementById('submit').click();
          return false;
          });

    socket.on('page_return_to_html', function(){
          document.getElementById('go_back').click();
    })

    $('#wrap_url').click(function(){ wrap_as_link() })


</script>

</html>
