
<script  src="graph_obj.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>

/*

Make the list of the pages for navigating from one page to another..

rem :
graph_obj.js for Arrow ..

*/

// Declare socket globally so it's accessible in other included scripts
window.socket = io.connect();
var socket = window.socket; // Keep local reference for this script

// Initialize global variables (will be populated by socket.io)
var dchandir = {};
var list_pages = [];
var list_md = [];
var dic_text_id = {};

// Request pages data from server
socket.emit('ask_pages_data');

// Receive pages data from server
socket.on('pages_data', function(data) {
    console.log('[pages.html] Received pages_data:', data);
    try {
        var pagesData = JSON.parse(data);
        dchandir = pagesData.dchandir;
        list_pages = pagesData.list_pages;
        list_md = pagesData.list_md;
        dic_text_id = pagesData.dic_text_id;
        console.log('[pages.html] Pages data loaded successfully');
        console.log('[pages.html] list_pages:', list_pages);
        console.log('[pages.html] list_md:', list_md);

        // Trigger fill_list_page if it was waiting
        if (typeof window.pagesDataReady !== 'undefined') {
            window.pagesDataReady = true;
        }
    } catch(e) {
        console.error('[pages.html] Error parsing pages_data:', e);
    }
});

function reload_js(src, callback) {                     // reload a script..
    console.log("in reload_js... !!!")
    $('script[src^="' + src + '"]').remove();
    var script = document.createElement('script');
    script.src = src + '?t=' + new Date().getTime();
    script.onload = callback;
    document.head.appendChild(script);
}

// New page

var enter_new_page = $('<div/>').attr('id','enter_new_page')
enter_new_page.css({'background-color':'#000000',
          'padding-left': '50px',
          'padding-right': '20px',
          'padding-bottom': '2px',
          'padding-top': '12px',
          'margin-right': '20px',
          'margin-left': '20px',
          //'box-shadow': '0.5em 0.5em 0.7em',
          'position': 'fixed',
          'left': '50px',
          'top': '100px',  //function(){return $('#page').attr('height')}
          'width': '300px',
          'height': '70px',
          'max-height': '300px',
          //'font-size': '85%',
          'z-index': '4',
          'color': 'black'
          })

var butt_save_new_page = $('<input/>').attr({   // button save new page
         type: "button",
         id: "save_new_page",
         value: "save",
         class: "btn btn-warning"
     });

var input_name = $('<input type="text" id="name_new_page" name="name" required minlength="3" maxlength="11" size="12"> ')
input_name.css({'height':'30px', 'width':'150px', 'margin-top':'7px'})
butt_save_new_page.css({'height':'30px', 'padding-top':'1.2px'})
enter_new_page.append(input_name)
              .append(butt_save_new_page) // append the save page butt
              .hide()

$('#content').append(enter_new_page)

$('#name_new_page').show()

butt_save_new_page.click(function(){            // send note to server the name of the new page..

      enter_new_page.hide()
      socket.emit('new_page', input_name.val());

})

socket.on('load_new_page',function(){

      console.log("New page created, requesting updated pages data...")
      // Request fresh pages data from server
      socket.emit('ask_pages_data');

      // Wait a bit for the data to arrive, then refresh the list
      setTimeout(function() {
          console.log("just before fill_list_page")
          fill_list_page()
      }, 200);

})

// Listen for hidden pages changes
socket.on('hidden_pages_updated', function(){
      fill_list_page()
})

var pos_list_pages = 80

// -- Arrows for list pages

dic_css_tp_arr = {'position':'relative',
                  'width':'10px',
                  'bottom':'7px',
                  'left':'5px'
                  }

var tp_arr = new Arrow('tp_arr', 'pages', dic_css_tp_arr)
tp_arr_l = tp_arr.make(277)                                           //---- arrow left
tp_arr_r = tp_arr.make(276).hide()                                    //---- arrow right

// 'rgb(200,154,102)'
var toggle_list_pages_color = '#29a329'
var toggle_pages = $('<div/>').attr('id','toggle_pages') // small square
toggle_pages.css({
          'background-color': toggle_list_pages_color, // toggle list of pages
          'box-shadow': '0.5em 0.5em 0.7em',
          'position': 'fixed',
          'left': '1px',
          'top': pos_list_pages-20 + 'px',
          'width': '20px',
          'height': '20px',
          'z-index': '3'
          })
toggle_pages.append(tp_arr_r).append(tp_arr_l)
$('#content').append(toggle_pages)

// #29a329, 'rgb(100,104,102)', '#c2f0c2', #ff8080, #ff6666 #d27979 #ff4d4d
// #ff884d

// list of pages..

// Panel with the  List of pages

var list_pages_color = '#000000' //
var pages = $('<div/>').attr('id','pages')
pages.css({'background-color':list_pages_color,
          'box-shadow': '0.5em 0.5em 0.7em',
          'padding-bottom':'40px',
          'position': 'fixed',
          'left': '0px',  // '-120px'
          'top': pos_list_pages + 'px',
          'width': '150px', // '100px'
          'height': 'auto',
          'color' : 'white',
          'z-index': '3'
          })

$('#content').append(pages)
$('#pages').append($('<h1/>').text('Pages').attr('id','title_list_pages'))  // title
           .append($('<ul/>').attr('id','all_pages'))

function add_elem_pages_toc(curr_page, name){

        /*

        Add link toward page to #all_pages'

        */

        var name = name || curr_page;
        var link = $('<a/>').attr('href', '/' + curr_page)
                            .attr('id','link_' + curr_page)
                            .text(name)
        link.addClass('main_pages')
        var elem_list = $('<li/>').append(link)
        var dic_icon_open_page = {'width':'9px',
                                  'background-color':'white',
                                  'margin-left':'10px',
                                  'margin-top':'2px',
                                  'margin-bottom':'2px',
                                  'opacity':'1'
                                }
        var addr_icon_open_page = "various_icon/icon_simple_page.png"
        var icon_open_page = $('<img/>').attr('src',addr_icon_open_page).css(dic_icon_open_page)  //
        var new_page = $('<span/>').attr('id', 'new_page_' + curr_page).addClass('open_new_page') //

        if (curr_page != 'main'){
              new_page.append(icon_open_page)
        }
        new_page.hide()
        elem_list.mouseover(function(){   // oven link, show page icon
           new_page.show()
        })
        elem_list.mouseout(function(){  // out of link, hide page icon
           new_page.hide()
        })

        elem_list.append(new_page)

        $('#all_pages').append(elem_list)    // add name of pages in #all_pages

}

var curr_page = window.location.href.split('//')[1].split('/')[1] || '' // name of the current page

if ( curr_page == '' ){ var tit_page = 'main' }
else { var tit_page = curr_page }
$(document).prop('title', tit_page)

function fill_list_page(){

      // Get hidden pages from server
      socket.emit('get_hidden_pages');
      socket.once('hidden_pages_data', function(data) {
          var hiddenPages = [];
          try {
              hiddenPages = JSON.parse(data);
          } catch(e) {
              console.log('Error loading hidden pages:', e);
          }

          $('#all_pages').empty()              // clear the list
          add_elem_pages_toc('main','Main')    //  add Main in first position in #all_pages
          $('#link_main').attr('href','/')     // specific link for Main
          var list_to_use = (typeof list_md !== 'undefined') ? list_md : list_pages;
          console.log("list_to_use is " + list_to_use)
          for ( var curr_item of list_to_use ){
                var curr_page = curr_item.replace('_md', '')
                // Skip hidden pages and main
                if ( curr_page != 'main' && hiddenPages.indexOf(curr_page) === -1 ){
                    console.log("curr_page is " + curr_page)
                    add_elem_pages_toc(curr_page)
                }
          }
          var plus_butt = $('<div/>').text('+')
                                     .css({'margin-left':'25px','margin-top':'10px'})
                                     .attr('id','add_page')
          $('#all_pages').append(plus_butt) //
          $('.main_pages').css({'color':'white'})
          $('#add_page').click(function(){
               var butt_offset = $(this).offset().top-$(window).scrollTop()+2
               $('#enter_new_page').css({ 'top' : butt_offset })
                                   .toggle()
          })
      });

}

fill_list_page()

// Change size of the current name page in the list..

function change_font_size_curr_page(font_size){

    /*

    Change the font size

    */

    dic_deco_list = {'text-decoration':'underline', 'font-size': font_size + 'px'}
    $('#link_' + curr_page).css(dic_deco_list)    // general case
    if (curr_page == ''){
         $('#link_main').css(dic_deco_list)       // cas Main
    }

}

var pages_open = true                             // if true, list of pages visible
change_font_size_curr_page(25)
var time_page_close = 4000

$('#toggle_pages').on('click', function(){           // toggle list of pages

     var translr = '-' + $('#pages').css('width')//'-130px' //
     if (pages_open){           // close..
          //alert('closing')
          $('#pages').animate({'left':  translr })   // translate list_pages on the left  to hide it..
          change_font_size_curr_page(12)
     }
     else{                      // open
          $('#pages').animate({ 'left': '0px' }) // translate list_pages on the right to show it..
          change_font_size_curr_page(25)
     }
     $('.tp_arr').toggle()                      // exchange right and left arrow
     pages_open = !pages_open
})

var icon_page = $('<img/>').attr('id', 'icon_page').attr('src',"capicon/svg/001.svg")
icon_page.css({
                'background-color': '#ffffff', //
                'padding-bottom': '0px',
                'padding-top': '0px',
                'padding-left': '0px',
                'padding-right': '0px',
                'position': 'fixed',
                'right': '230px',  // shifted left to make room for shutdown button
                'top':'5px',
                'width': '15px',
                'z-index': '10',
                'cursor': 'pointer'

              })
icon_page.attr('title', 'Click to change icon')
$('#content').append(icon_page)

// Load icon mappings from config.yaml
var dic_icon_pages = {}
socket.emit('get_icon_pages')

socket.on('icon_pages_data', function(data) {
    var parsedData = JSON.parse(data)
    dic_icon_pages = parsedData.dic_icon_pages || {}
    console.log('[pages.html] Loaded icon mappings:', dic_icon_pages)

    // Update current page icon
    updateCurrentPageIcon()
})

// Listen for icon updates from other clients
socket.on('icon_updated', function(data) {
    var parsedData = JSON.parse(data)
    dic_icon_pages[parsedData.page] = parsedData.icon
    if (curr_page === parsedData.page) {
        updateCurrentPageIcon()
    }
})

function updateCurrentPageIcon() {
    if (curr_page){
        var num_icon = dic_icon_pages[curr_page] || '335'  // Default icon 335
        $('#icon_page').attr('src',"capicon/svg/" + num_icon + ".svg")
        console.log('[pages.html] Updated icon for', curr_page, 'to', num_icon)
    }
}

//------- Icon Picker Modal

/*

Modal for selecting page icons

*/

// Create modal HTML
var iconPickerModal = $('<div/>').attr('id', 'icon_picker_modal')
iconPickerModal.css({
    'display': 'none',
    'position': 'fixed',
    'z-index': 10001,
    'left': 0,
    'top': 0,
    'width': '100%',
    'height': '100%',
    'background-color': 'rgba(0,0,0,0.5)'
})

var iconPickerContent = $('<div/>').attr('id', 'icon_picker_content')
iconPickerContent.css({
    'background-color': '#fff',
    'margin': '5% auto',
    'padding': '20px',
    'border-radius': '8px',
    'width': '80%',
    'max-width': '900px',
    'max-height': '80%',
    'overflow-y': 'auto',
    'box-shadow': '0 4px 20px rgba(0,0,0,0.3)'
})

var iconPickerTitle = $('<h3/>').text('Select an icon for ' + curr_page)
iconPickerTitle.css({
    'margin-top': 0,
    'margin-bottom': '20px',
    'color': '#333'
})

var iconPickerGrid = $('<div/>').attr('id', 'icon_picker_grid')
iconPickerGrid.css({
    'display': 'grid',
    'grid-template-columns': 'repeat(auto-fill, minmax(60px, 1fr))',
    'gap': '10px',
    'margin-bottom': '20px'
})

var iconPickerClose = $('<button/>').text('Close')
iconPickerClose.css({
    'padding': '10px 24px',
    'border': 'none',
    'border-radius': '4px',
    'cursor': 'pointer',
    'font-size': '14px',
    'font-weight': '600',
    'background-color': '#6c757d',
    'color': 'white'
})

iconPickerContent.append(iconPickerTitle)
                  .append(iconPickerGrid)
                  .append(iconPickerClose)
iconPickerModal.append(iconPickerContent)
$('body').append(iconPickerModal)

// Load all SVG icons into the grid (375 icons numbered 001-375)
function loadIconGrid() {
    $('#icon_picker_grid').empty()

    for (var i = 1; i <= 375; i++) {
        var iconNum = String(i).padStart(3, '0')
        var iconWrapper = $('<div/>').addClass('icon_picker_item')
        iconWrapper.css({
            'padding': '8px',
            'border': '2px solid #ddd',
            'border-radius': '4px',
            'cursor': 'pointer',
            'text-align': 'center',
            'transition': 'all 0.2s'
        })
        iconWrapper.hover(
            function() {
                $(this).css({
                    'border-color': '#007bff',
                    'background-color': '#f0f8ff',
                    'transform': 'scale(1.1)'
                })
            },
            function() {
                $(this).css({
                    'border-color': '#ddd',
                    'background-color': 'transparent',
                    'transform': 'scale(1)'
                })
            }
        )

        var iconImg = $('<img/>').attr('src', 'capicon/svg/' + iconNum + '.svg')
        iconImg.css({
            'width': '27px',
            'height': '27px',
            'display': 'block',
            'margin': '0 auto 5px auto'
        })

        var iconLabel = $('<div/>').text(iconNum)
        iconLabel.css({
            'font-size': '11px',
            'color': '#666'
        })

        iconWrapper.append(iconImg).append(iconLabel)
        iconWrapper.attr('data-icon', iconNum)

        // Click handler for icon selection
        iconWrapper.click(function() {
            var selectedIcon = $(this).attr('data-icon')
            console.log('[pages.html] Selected icon:', selectedIcon, 'for page:', curr_page)

            // Save to config.yaml
            socket.emit('save_page_icon', JSON.stringify({
                page: curr_page,
                icon: selectedIcon
            }))

            // Close modal
            $('#icon_picker_modal').fadeOut(200)
        })

        $('#icon_picker_grid').append(iconWrapper)
    }
}

// Open modal when clicking on icon_page
$('#icon_page').click(function() {
    if (curr_page) {  // Only allow icon change if we're on a specific page
        loadIconGrid()
        $('#icon_picker_modal').fadeIn(200)
    }
})

// Close button
iconPickerClose.click(function() {
    $('#icon_picker_modal').fadeOut(200)
})

// Close on outside click
$('#icon_picker_modal').click(function(e) {
    if (e.target.id === 'icon_picker_modal') {
        $(this).fadeOut(200)
    }
})

// Listen for successful icon save
socket.on('page_icon_updated', function(data) {
    var parsedData = JSON.parse(data)
    if (parsedData.success) {
        console.log('[pages.html] Icon updated successfully for', parsedData.page)
        dic_icon_pages[parsedData.page] = parsedData.icon
        updateCurrentPageIcon()
    } else {
        console.error('[pages.html] Error updating icon:', parsedData.error)
        alert('Error saving icon: ' + parsedData.error)
    }
})

//------- backgrnd_icons

/*

Background for showing well the icons..

*/

backgrnd_icons = $('<div/>').attr('id','backgrnd_icons')
backgrnd_icons.css({
                    'background-color': '#ffffff', //
                    'box-shadow': '0.5em 0.5em 0.7em',
                    'padding-bottom': '0px',
                    'padding-top': '0px',
                    'padding-left': '0px',
                    'padding-right': '0px',
                    'position': 'fixed',
                    'right': '7px',
                    'width': '40px',
                    'height' : '400px',
                    'top':'70px',
                    'z-index': '0',

                  })
$('#content').append(backgrnd_icons)




</script>
