
<script  src="graph_obj.js"></script>
<script  src="global.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>

/*

Make the list of the pages for navigating from one page to another..

rem :
graph_obj.js for Arrow ..

*/

var socket = io.connect();

function reload_js(src) {                     // reload a script..
    $('script[src="' + src + '"]').remove();
    $('<script>').attr('src', src).appendTo('head');
}

// New page

var enter_new_page = $('<div/>').attr('id','enter_new_page')
enter_new_page.css({'background-color':'#000000',
          'padding-left': '50px',
          'padding-right': '20px',
          'padding-bottom': '2px',
          'padding-top': '12px',
          'margin-right': '20px',
          'margin-left': '20px',
          //'box-shadow': '0.5em 0.5em 0.7em',
          'position': 'fixed',
          'left': '50px',
          'top': '100px',  //function(){return $('#page').attr('height')}
          'width': '300px',
          'height': '70px',
          'max-height': '300px',
          //'font-size': '85%',
          'z-index': '4',
          'color': 'black'
          })

var butt_save_new_page = $('<input/>').attr({   // button save new page
         type: "button",
         id: "save_new_page",
         value: "save",
         class: "btn btn-warning"
     });

var input_name = $('<input type="text" id="name_new_page" name="name" required minlength="3" maxlength="11" size="12"> ')
input_name.css({'height':'30px', 'width':'150px', 'margin-top':'7px'})
butt_save_new_page.css({'height':'30px', 'padding-top':'1.2px'})
enter_new_page.append(input_name)
              .append(butt_save_new_page) // append the save page butt
              .hide()

$('#content').append(enter_new_page)

$('#name_new_page').show()

butt_save_new_page.click(function(){            // send note to server the name of the new page..

      enter_new_page.hide()
      socket.emit('new_page', input_name.val());

})

socket.on('load_new_page',function(){

      reload_js('global.js');
      fill_list_page()  // fill the list of all the pages..

})

var pos_list_pages = 80

// -- Arrows for list pages

dic_css_tp_arr = {'position':'relative',
                  'width':'10px',
                  'bottom':'7px',
                  'left':'5px'
                  }

var tp_arr = new Arrow('tp_arr', 'pages', dic_css_tp_arr)
tp_arr_l = tp_arr.make(277)                                           //---- arrow left
tp_arr_r = tp_arr.make(276).hide()                                    //---- arrow right

// 'rgb(200,154,102)'
var toggle_list_pages_color = '#29a329'
var toggle_pages = $('<div/>').attr('id','toggle_pages') // small square
toggle_pages.css({
          'background-color': toggle_list_pages_color, // toggle list of pages
          'box-shadow': '0.5em 0.5em 0.7em',
          'position': 'fixed',
          'left': '1px',
          'top': pos_list_pages-20 + 'px',
          'width': '20px',
          'height': '20px',
          'z-index': '3'
          })
toggle_pages.append(tp_arr_r).append(tp_arr_l)
$('#content').append(toggle_pages)

// #29a329, 'rgb(100,104,102)', '#c2f0c2', #ff8080, #ff6666 #d27979 #ff4d4d
// #ff884d

// list of pages..

var list_pages_color = '#000000' //
var pages = $('<div/>').attr('id','pages')       // Panel with the  List of pages
pages.css({'background-color':list_pages_color,
          'box-shadow': '0.5em 0.5em 0.7em',
          'padding-bottom':'40px',
          'position': 'fixed',
          'left': '0px',  // '-120px'
          'top': pos_list_pages + 'px',
          'width': '150px', // '100px'
          'height': 'auto',
          'color' : 'white',
          'z-index': '3'
          })

$('#content').append(pages)
$('#pages').append($('<h1/>').text('Pages').attr('id','title_list_pages'))  // title
           .append($('<ul/>').attr('id','all_pages'))

function add_elem_pages_toc(curr_page, name){

        /*

        Add link toward page to #all_pages'

        */

        var name = name || curr_page;
        var link = $('<a/>').attr('href', '/' + curr_page)
                            .attr('id','link_' + curr_page)
                            .text(name)
        link.addClass('main_pages')
        var elem_list = $('<li/>').append(link)
        var dic_icon_open_page = {'width':'9px',
                                  'background-color':'white',
                                  'margin-left':'10px',
                                  'margin-top':'2px',
                                  'margin-bottom':'2px',
                                  'opacity':'1'
                                }
        var addr_icon_open_page = "various_icon/icon_simple_page.png"
        var icon_open_page = $('<img/>').attr('src',addr_icon_open_page).css(dic_icon_open_page)  //
        var new_page = $('<span/>').attr('id', 'new_page_' + curr_page).addClass('open_new_page') //

        if (curr_page != 'main'){
              new_page.append(icon_open_page)
        }
        new_page.hide()
        elem_list.mouseover(function(){   // oven link, show page icon
           new_page.show()
        })
        elem_list.mouseout(function(){  // out of link, hide page icon
           new_page.hide()
        })

        elem_list.append(new_page)

        $('#all_pages').append(elem_list)    // add name of pages in #all_pages

}

var curr_page = window.location.href.split('//')[1].split('/')[1] || '' // name of the current page

if (curr_page == ''){ var tit_page = 'main' }
else {var tit_page = curr_page}
$(document).prop('title', tit_page)

function fill_list_page(){

      $('#all_pages').empty()              // clear the list
      add_elem_pages_toc('main','Main')    //  add Main in first position in #all_pages
      $('#link_main').attr('href','/')     // specific link for Main
      for (var curr_page of list_pages){
            if (curr_page != 'main'){
                add_elem_pages_toc(curr_page)
            }
      }
      var plus_butt = $('<div/>').text('+')
                                 .css({'margin-left':'25px','margin-top':'10px'})
                                 .attr('id','add_page')
      $('#all_pages').append(plus_butt) //
      $('.main_pages').css({'color':'white'})
      $('#add_page').click(function(){
           var butt_offset = $(this).offset().top-$(window).scrollTop()+2
           $('#enter_new_page').css({ 'top' : butt_offset })
                               .toggle()
      })

}

fill_list_page()

// Change size of the current name page in the list..

function change_font_size_curr_page(font_size){

    /*

    Change the font size

    */

    dic_deco_list = {'text-decoration':'underline', 'font-size': font_size + 'px'}
    $('#link_' + curr_page).css(dic_deco_list)    // general case
    if (curr_page == ''){
         $('#link_main').css(dic_deco_list)       // cas Main
    }

}

var pages_open = true                             // if true, list of pages visible
change_font_size_curr_page(25)
var time_page_close = 4000

$('#toggle_pages').on('click', function(){           // toggle list of pages

     var translr = '-' + $('#pages').css('width')//'-130px' //
     if (pages_open){           // close..
          //alert('closing')
          $('#pages').animate({'left':  translr })   // translate list_pages on the left  to hide it..
          change_font_size_curr_page(12)
     }
     else{                      // open
          $('#pages').animate({ 'left': '0px' }) // translate list_pages on the right to show it..
          change_font_size_curr_page(25)
     }
     $('.tp_arr').toggle()                      // exchange right and left arrow
     pages_open = !pages_open
})

var icon_page = $('<img/>').attr('id', 'icon_page').attr('src',"capicon/svg/001.svg")
icon_page.css({
                'background-color': '#ffffff', //
                'padding-bottom': '0px',
                'padding-top': '0px',
                'padding-left': '0px',
                'padding-right': '0px',
                'position': 'fixed',
                'right': '200px',
                'top':'5px',
                'width': '15px',
                'z-index': '10'

              })
$('#content').append(icon_page)

var dic_icon_pages = {
                      'todo': '044', 'science':'205',
                      'fait':'265', 'infos':'341',
                      'main':'001','idees': '040',
                      'musique':'084', 'good_links':'034',
                      'culture':'238', 'sante':'008',
                      'chansons':'067'
                    }

try{
  var num_icon = dic_icon_pages[curr_page]
  $('#icon_page').attr('src',"capicon/svg/" + num_icon + ".svg")

}catch(err){
  console.log('no icon in the dic')
}

</script>
