<script src="voice.js"></script>
<script src="voice_specific.js"></script>
<script src="artyom.window.min.js"></script>

<nav id='text-navbar'  class="navbar navbar-light bg-light">

</nav>

<script>

var dic_css_text_navbar = {
                          'height':'40px',
                          'background-color':'white',
                          'box-shadow': '0.5em 0.5em 2.7em'

}
$('#text-navbar').css(dic_css_text_navbar)

</script>

<div class="form-group">

     <center for="comment" style="font-size:20px;"> Text </center>
     <br/><br/>
     <textarea class="form-control" rows="10" id="comment" style="width: 1200px; height: 500px">aaaa</textarea>

     <br/>

    <div class="col-sm-10" hidden >
       <button type="submit" class="btn btn-default" id='submit' >Submit</button>
     </div>

</div>

<div class="col-sm-10" hidden >
 <a type="button" class="btn btn-default" id='go_back' href='/' >go to strap</a>
</div>

<script>

var icon_micro = $('<img/>').attr('src',"various_icon/micro2.svg")  // icon for agenda panel
icon_micro.attr('id','icon_micro')
           .css({
                'position':'absolute',
                'bottom':'50px',
                'right':'10px',
                'width':'24px',
                'z-index':'10'
              })

$('body').append(icon_micro)
icon_micro.click(function(){
      //alert(curr_page)
      trigger_voice()
      socket.emit('trig_voice', '')
})

var voice_triggered = 0

//------------

var tool_text__panel = $('<div/>').attr('id','tool_text__panel')
$('body').append(tool_text__panel)

tool_text__panel.css({
          'background-color': '#ffffff', //
          'box-shadow': '0.5em 0.5em 2.7em',
          'padding-bottom': '30px',
          'padding-top': '30px',
          'padding-left': '20px',
          'padding-right': '0px',
          'position': 'fixed',
          'width': '100px',
          'height': '300px',
          'z-index': '4',
          //'opacity':'1'
          })
$('#tool_text__panel').hide()

//----------- css button

var css_button = {
          'background-color': 'rgb(255, 238, 204)', //
          //'box-shadow': '0.5em 0.5em 2.7em',
          'padding-bottom': '1px',
          'padding-top': '2px',
          'padding-left': '3px',
          'padding-right': '1px',
          'position': 'absolute',
          'top':'50px',
          'width': '50px',
          'height': '30px',
          'z-index': '3',
          'text-align': 'center',
          'opacity':'1'
          }

//----------- wrap

var wrap_butt = $('<input/>').attr('id','wrap_url')
                             .attr('type','button')
                             .addClass("btn btn-warning chgtxt")
wrap_butt.css(css_button)
wrap_butt.css({'top':'50px'})
wrap_butt.val('wrap')
$('#tool_text__panel').append(wrap_butt)

//----------- date

var date_butt = $('<input/>').attr('id','insert_date')
                             .attr('type','button')
                             .addClass("btn btn-warning chgtxt")
date_butt.css(css_button)
date_butt.css({'top':'90px'})
date_butt.val('date')
$('#tool_text__panel').append(date_butt)

//------------- Text button

$('.chgtxt').mouseover(function(){
                $(this).css({'background-position': '0 30px'})
          }).mouseout(function(){
                $(this).css({'background-position': '0 0px'})
                })


</script>
