<link type="css"  rel="stylesheet" href="css/main_fonts.css">

<!-- <style>

[title] {
    background-color: #ffffff, //
    box-shadow: 0.5em 0.5em 2.7em,
    padding-bottom: 3px,
    padding-top: 2px,
    padding-left: 2px,
    padding-right: 0px,
    width: 400px,
    height: 300px,
    z-index: 4
    }

</style> -->

<script>

//Grundschrift-Bold.otf    Grundschrift-Light.otf  Grundschrift-Regular.otf
//Grundschrift-Kontur.otf  Grundschrift-Punkt.otf

$(window).load(function(){   // applied after all the page is loaded..

$('#content').css({
                  'margin-left':'120px',
                  'margin-right':'120px'
                })
$('h1').css({'font-family': "libre_carlson_display", 'text-shadow':'none'}) // 0086b3 e64d00 40bf40 c65353 ff4d4d
$('h2').css({'color':'#c65353', 'font-family': "libre_carlson_display", '-webkit-text-stroke-width': '0.5px'}) // 0086b3 e64d00 40bf40 c65353 ff4d4d 1a75ff b3d1ff ff3333 ff9999 8cb3d9
$('h3').css({'color':'#d27979', 'font-family': "libre_carlson_display", 'font-style': 'bold', '-webkit-text-stroke-width': '0.2px'}) // 'Enriqueta', serif
$('#toc').css({'min-height': '200px', 'width':'auto !important', 'font-size':'14px', 'top':'70px', 'background-color':'#ffeecc'})
$('.date').css({"font-family": "'Enriqueta', serif", 'color':'#000000'})
$('.navbar').css({'position':'fixed'})
$('.todotheme').css({'width':'auto', 'height':'700px','margin-right':'300px'})
$('pre').css({ 'display': 'table' }) // 'margin-right':'30%'
//$('.CodeMirror').css({ 'margin-left': '10%', 'width':'80%' }) // 'margin-right':'30%'

//--------------

$('.help').hide()
$('.showtoc').css({'right':'70px'}) // position of TOC..

$('div.onside').find('a').click(function(){   // offset when clicking on a link..
    try{

      var idclick = $(this).attr('href').replace('#','')
      var intermref = document.getElementById(idclick);
      var poshref = $(intermref).offset().top // Avril 2020_25/4/20 $(this).attr('href')
      $('html,body').animate({scrollTop: poshref -60}, 'linear')
   }catch(err){}

})

//------------- Secondary elements

//---------- Tooltips

// $('h2').attr('data-toggle','tooltip')
// $('[data-toggle="tooltip"]').tooltip();


// $('.tooltip').css({
//           'background-color': '#ffffff', //
//           'box-shadow': '0.5em 0.5em 2.7em',
//           'padding-bottom': '3px',
//           'padding-top': '2px',
//           'padding-left': '2px',
//           'padding-right': '0px',
//           'width': '400px',
//           'height': '300px',
//           'z-index': '4',
//           //'opacity':'1'
//           })

//-----------  open pages

$('.open_new_page').click(function(){   // open the link in a new page..
       var prev_elem = $(this).prev()
       window.open(prev_elem.attr('href'))
  });

//------------ icône ID

var icon_img = $('#favicon_header').attr('href')
var id_icon = $('<img/>').attr('src',icon_img)
                         .css({'width':'25px',
                                'margin-top':'-5px',
                                'margin-bottom':'-5px',
                                'padding-bottom':'3px',
                                'position' : 'fixed',
                                'top':'7px',
                                'left':'52px'
                               })
$('#headline').text('')
$('#headline').append(id_icon)

//------------- pdfs

$('object').each(function(){
    if($(this).attr('type') == 'application/pdf'){
        $(this).css({'width':'1100px','height':'900px'})  // 'width':'1200px',  // pdfs size..
    }
})

/*

Color specific tag elements which parent is .date and make a border..

*/

var dic_li = { 'job' : {'inside': {'color': '#99dfff'}, 'title': {'color':'#00aeff'} },
               'prog' : {'inside': {'color': '#ffe6e6'}, 'title': {'color':'#ff9999'} },
               'phys' : {'inside': {'color': '#adebad'}, 'title': {'color':'#5cd65c'} },
               'math' : {'inside': {'color': '#ffb380'}, 'title': {'color':'#ff944d'} },
               'infos' : {'inside': {'color': '#c2d6d6'}, 'title': {'color':'#85adad'} },
               'société': {'inside': {'color': '#993300'}, 'title': {'color':'#b33c00'} },
               'ML': {'inside': {'color': '#e60000'}, 'title': {'color':'#ff0000'} },
               'drôle' : {'inside': {'color': '#ffcc00'}, 'title': {'color':'#ffd11a'} },
               'histoire':  {'inside': {'color': '#77b300'}, 'title': {'color':'#88cc00'} },
               'films':  {'inside': {'color': '#7575a3'}, 'title': {'color':'#8585ad'} },
               'org':  {'inside': {'color': '#ffe066'}, 'title': {'color':'#ffe680'} },
               'boulot':  {'inside': {'color': '#cccc00'}, 'title': {'color':'#e6e600'} },

               // ffd9b3 ffbf80
               // ffe6e6 ff9999
 }
 var col_fist_level = '#996633' // '#cc9966'
 var col_sec_level = '#555555' // '#666666' // '#ff9c33'  // 'black' //''#331a00' //

function color_tags_with_borders(elem, dic_style){

      change_tag_colors(elem, dic_style)
      make_border(elem, dic_style)

}

function change_tag_colors(elem, dic_style){ // , col_fist_level, col_sec_level

      elem.find('ul li').css({'color' : col_fist_level})         // color 1st level
      elem.find('ul li li').css({'color' : col_sec_level})     // color 2 level
      elem.css({'color' : dic_style['title']['color']})  // color heading
}

function make_border(elem, dic_style){

      elem.children('ul').css({                          // vertical line on the left..
                      'border-color': dic_style['inside']['color'], // 99dfff, e6f7ff
                      'border-left': '2px solid', // solid, dashed
                      'border-spacing': '-10px',
                      'padding-left' : '20px'
                    })

}

$('li').each(function(){

      var elem = $(this).parent().prev()
      if ( elem.hasClass('date') ){
          var rubr = $(this).text().split('[-]')[0].trim().split('\n')[0].trim()
      for (const [key, dic_style] of Object.entries(dic_li)) {
           if( rubr == key ){
                  color_tags_with_borders($(this), dic_style)
               } // if
         } // for
    }
})

// ---------------   Symbols

regex_tél = /(\d{2}.?){4}\d{2}/g                                      // regexp for phone number
regex_mail = /\w+\.?\w+?@.+\.com/g                                    // regexp for mail
var dic_symb = {'tél':['041', regex_tél], 'mail':['019', regex_mail]}

function make_span_icon(value){

      var src_icon = 'src="capicon/svg/{}.svg"'.replace('{}',value[0])
      var im_icon = '<img class="icon_symbol" {} width="15px">'.replace('{}',src_icon)
      var span_icon = '<span> {} </span>'.replace('{}', im_icon)

      return span_icon
}

function replace_associated_information(htm, key, value){

      /*

      Replace the regexp associated to the key

      */

      var reg_match = htm.match(value[1])
      if (reg_match){
          for (var elem of reg_match){
                htm = htm.replace(elem, '<span class="' + key + '">' + elem + '</span>') // replace the phone number or the mail..
                }
      }
      return htm

}

function replace_by_symbol(htm, key, value){

      /*

      Replace the command by the corresponding symbol..

      */

      span_icon = make_span_icon(value)
      regex_replace = new RegExp('\\!' + key, 'g');  // regexp for "key" word
      htm = htm.replace(regex_replace, span_icon)  // replace the command by the icon..
      return htm

}

function replace_by_icon_and_association(elem, htm, key, value){

      /*

      Replace the command and the associated regexp..

      */

      htm = replace_by_symbol(htm, key, value)
      htm = replace_associated_information(htm, key, value)
      elem.html(htm)  // change in html

}

for (const [key, value] of Object.entries(dic_symb)) {

      $('li').each(function(){
           var htm = $(this).html()
           var regex = new RegExp('\\!' + key);
           if (htm.search(regex) != -1){

              replace_by_icon_and_association($(this), htm, key, value) // replace command by icon and change the associated information..

              } // end if

          })
} // end for

var padding_symb_info = {'lr':'7px', 'tb':'1px'} // paddings left-right and top-bottom
var dic_frame_info = {

      'border-bottom': '1px solid rgba(0,0,0,.2)',
      'padding-top': padding_symb_info['tb'],
      'padding-bottom': padding_symb_info['tb'],
      'padding-left': padding_symb_info['lr'],
      'padding-right': padding_symb_info['lr']

      }

// #ccffcc ffe6b3 d9f2d9 d6f5d6 eeeedd d9f2e6

var col_text_after_ic = 'rgb(51, 102, 255)'
$('.tél').css(dic_frame_info)                     // phone
$('.tél').css({  'background-color':'#d9f2e6', 'color': col_text_after_ic }) // , 'color':'blue'
$('.mail').css(dic_frame_info)                    // mail
$('.mail').css({ 'background-color':'#ffecb3', 'color': col_text_after_ic })

$('.icon_symbol').css({                          //------- Correction on vertical position of the symbols..
                        'margin-bottom':'0px',
                        'margin-top':'2px'
                      })

// --------------- Color videos

var color_medias = '#66cc66'                // color f the medias : clear green
var dic_col_medias = {'color': color_medias}
$('.strapvid').find('a').css(dic_col_medias)
$('.strapvid').parent().css(dic_col_medias)
$('.strapvid').prev().css(dic_col_medias)
// 66cc66, 79d279

// ----------------

$('#text').hide()

MathLive.renderMathInDocument();

}) // end $(window).load..

</script>
