<link type="css"  rel="stylesheet" href="css/main_fonts.css">

<!-- <style>

.no-bullets {
    list-style-type: none;
}

</style> -->

<script>

//Grundschrift-Bold.otf    Grundschrift-Light.otf  Grundschrift-Regular.otf
//Grundschrift-Kontur.otf  Grundschrift-Punkt.otf

$(window).load(function(){   // applied after all the page is loaded..

$('#content').css({
                  'margin-left':'120px',
                  'margin-right':'120px'
                })
$('h1').css({'font-family': "libre_carlson_display", 'text-shadow':'none'}) // 0086b3 e64d00 40bf40 c65353 ff4d4d
$('h2').css({'color':'#c65353', 'font-family': "libre_carlson_display", '-webkit-text-stroke-width': '0.5px'}) // 0086b3 e64d00 40bf40 c65353 ff4d4d 1a75ff b3d1ff ff3333 ff9999 8cb3d9
$('h3').css({'color':'#d27979', 'font-family': "libre_carlson_display", 'font-style': 'bold', '-webkit-text-stroke-width': '0.2px'}) // 'Enriqueta', serif
$('#toc').css({'height': 'auto', 'width':'auto !important', 'font-size':'15px', 'top':'70px', 'background-color':'#ffeecc'})
$('.date').css({"font-family": "'Enriqueta', serif", 'color':'#000000'})
$('.navbar').css({'position':'fixed'})
$('.todotheme').css({'width':'auto', 'height':'700px','margin-right':'300px'})
$('pre').css({ 'display': 'table' }) // 'margin-right':'30%'
//$('.CodeMirror').css({ 'margin-left': '10%', 'width':'80%' }) // 'margin-right':'30%'
//$('.onside').find('ul').show()
$('#toc>ul>li>a').css({'font-size':'18px'})
$('#toc').niceScroll();
//$('body').niceScroll();

//--------------  TOC

function correct_position(elem, postop){  // correct vertical position when clicking  in a link of the TOC..

    var idclick = elem.attr('href').replace('#','') // retrieve the name
    var intermref = document.getElementById(idclick);
    var poshref = $(intermref).offset().top //
    $('html,body').animate({scrollTop: poshref - postop}, 'linear')

}

$('.help').hide()
$('.showtoc').css({'right':'70px', 'margin-top':'-0.5px'}) // position of TOC..

$('div.onside').find('a').click(function(){   // offset when clicking on a link in TOC..
    try{
        correct_position($(this), 40)
   }catch(err){}

})

//----------- positionning the vid correctly..

$('#vid_name').click(function(){   // offset when clicking on th video link..
  try{
        correct_position($(this), 60)
   }catch(err){}
})

//------------- Title page up left..

var title_page = $('#toc li:first-child').text().split('[-]')[0]
tit_page_h2 = $('<h2/>').text(title_page)
                      .addClass('tit_page_in_nav')
                      .css({'position':'fixed', 'top':'-12px',
                       'left':'100px', 'z-index':'5', //'left':'10%'
                       'font-size': '17px'
                      })
$('#content').append(tit_page_h2)

//---------------  Indicating the closest h2.. and show it after title of the page..

function shift_sec_lev(){
    var w = parseInt($('.tit_page_in_nav').css('width').split('px')[0])
    var offset = $('.tit_page_in_nav').offset().left
    var shift = offset + w + 30
    return shift
}
sec_lev = $('<h3/>').text('')
          .attr('id','sec_lev')
          .css({'position':'fixed', 'top':'-12px',
           'left': '20%', 'z-index':'5',
           'font-size': '15px',

         })
$('#content').append(sec_lev)

function dist_from_top(elem){

    var scrollTop = $(window).scrollTop(),
    elementOffset = elem.offset().top,
    dist = Math.abs(elementOffset - scrollTop);
    return dist
}

$(window).scroll(function() {

    var min = 1000
    var text = ''
    var list_dist = ''
    $('h2').each(function(){
      if (! $(this).hasClass('tit_page_in_nav')){
           var dist = dist_from_top($(this))
           if ( dist < min){
              min = dist
              text = $(this).text()
           }
       }
    })

    $('#sec_lev').text(text)                   // text after title (h2 tags)
                 .css({'left': shift_sec_lev() + 'px'})

     // ------- change in toc

     $('.lev1>li>a').css( {'font-size':'100%'} )  // {'color':'#d9230f'}
     $('#toc').find('a').each(function(){
         var txt = $(this).text().split('[-]')[0].trim()
         //alert(txt)
         if (txt == text.trim()){

            //$(this).css({'color':'blue'})
            $(this).css({'font-size':'150%'})
         }
         //else(alert(txt + '_' + text))
     })

})

//------------- Secondary elements

//---------- Tooltips

// $('h2').attr('data-toggle','tooltip')
// $('[data-toggle="tooltip"]').tooltip();


// $('.tooltip').css({
//           'background-color': '#ffffff', //
//           'box-shadow': '0.5em 0.5em 2.7em',
//           'padding-bottom': '3px',
//           'padding-top': '2px',
//           'padding-left': '2px',
//           'padding-right': '0px',
//           'width': '400px',
//           'height': '300px',
//           'z-index': '4',
//           //'opacity':'1'
//           })

//-----------  open pages

$('.open_new_page').click(function(){   // open the link in a new page..
       var prev_elem = $(this).prev()
       window.open(prev_elem.attr('href'))
  });

//------------ icône ID pour l'appli

var icon_img = $('#favicon_header').attr('href')
var id_icon = $('<img/>').attr('src',icon_img)
                         .css({'width':'25px',
                                'margin-top':'-2px',
                                'margin-bottom':'-5px',
                                'padding-bottom':'1px',
                                'position' : 'fixed',
                                'top':'9px',
                                'left':'52px'
                               })
$('#headline').text('')
$('#headline').append(id_icon)

//------------- pdfs size

$('object').each(function(){
    if($(this).attr('type') == 'application/pdf'){
        $(this).css({'width':'1100px','height':'900px'})  // 'width':'1200px',  // pdfs size..
    }
})

//-------------------------- no bullet with vertical deco..

$('li').each(function(){
    var txt = $(this).text()
    var elem = $(this).find('li')
    if (txt.search(/\!mev/) != -1 & !elem.length){   // mev = mise en valeur
        var ltext = txt.split('\n')
        var new_text = ltext.splice(1).join('<br>')
        //alert(new_text)
        var new_elem = $('<div/>').html(new_text)
                                  .css({                          // vertical line on the left..
                                        'border-left': '2px solid', // solid, dashed
                                        'border-spacing': '-10px',
                                        'padding-left' : '40px',
                                        'padding-right' : '40px',
                                        'padding-top' : '30px',
                                        'margin-top' : '20px',
                                        'margin-bottom' : '20px',
                                        'margin-right' : '20%',
                                        'padding-bottom' : '30px',
                                        'background-color': '#ffffff',
                                        'display': 'table',
                                        'box-shadow': '0.1em 0.1em 0.3em',
                                      })
        new_elem.css({'border-color': 'red'})
        $(this).replaceWith(new_elem) // .addClass('.no-bullets')

    }
})

// ------------------ go to text with links..

var dic_icon_tag_a_to_text = {'width':'10px',
                          'background-color':'white',
                          'margin-left':'10px',
                          'margin-top':'2px',
                          'margin-bottom':'2px',
                        }
$('a').each(function(){

     var elem = $(this).parents().hasClass('section')
     if (elem){
           var tag_a_to_text_icon = $('<img/>').attr('src',"capicon/svg/261.svg")
                                           .css(dic_icon_tag_a_to_text)
           var tag_a_to_text = $('<span/>').addClass('tag_a_to_text')
                                       .append(tag_a_to_text_icon)

           if (!$(this).children().hasClass('::')){
               $(this).append(tag_a_to_text) //

           }
           tag_a_to_text.hide()
           $(this).mouseover(function(){   // oven link, show page icon
              if (!text_blocked){
                  tag_a_to_text.show()
              }

           })
           $(this).mouseout(function(){  // out of link, hide page icon
              tag_a_to_text.hide()
           })

           tag_a_to_text.click(function (e) {
                e.preventDefault();   // stopping propagation to parent.. !!!
                e.stopPropagation();
                //alert($(this).parent().text())
           })

     }

})

var loc = window.location.href.split('//')[1].split('/')[1]
dblclick_to_text(socket, $('.tag_a_to_text'), 0, dic_text_id[loc]) // add double click

// ------------- colored tags..

/*

Color specific tag elements which parent is .date and make a border..

*/

socket.emit('ask_color_tags','')

var col_fist_level = '#996633' // '#cc9966'
var col_sec_level = '#555555' // '#666666' // '#ff9c33'  // 'black' //''#331a00' //

function color_tags_with_borders(elem, dic_style){

      change_tag_colors(elem, dic_style)
      make_border(elem, dic_style)

}

function change_tag_colors(elem, dic_style){ // , col_fist_level, col_sec_level

      elem.find('ul li').css({'color' : col_fist_level})         // color 1st level
      elem.find('ul li li').css({'color' : col_sec_level})     // color 2 level
      elem.css({'color' : dic_style['title']['color']})  // color heading
}

function make_border(elem, dic_style){

      elem.children('ul').css({                          // vertical line on the left..
                      'border-color': dic_style['inside']['color'], // 99dfff, e6f7ff
                      'border-left': '2px solid', // solid, dashed
                      'border-spacing': '-10px',
                      'padding-left' : '20px'
                    })

}

function color_tags_under_date(dic_li){
      $('li').each(function(){
            var elem = $(this).parent().prev()
            if ( elem.hasClass('date') ){
                var rubr = $(this).text().split('[-]')[0].trim().split('\n')[0].trim()
            for (const [key, dic_style] of Object.entries(dic_li)) {
                 if( rubr == key ){
                        color_tags_with_borders($(this), dic_style)
                     } // if
               } // for
          }
      })
}

socket.on('dic_color_tags', function(text){
      console.log('received text for color_tags... ')
      var dic_li = JSON.parse(text)
      color_tags_under_date(dic_li)
})

// ---------------   Symbols

regex_tél = /(\d{2}.?){4}\d{2}/g                                      // regexp for phone number
regex_mail = /\w+\.?\w+?@.+\.com/g                                    // regexp for mail
var dic_symb = {'tél':['041', regex_tél], 'mail':['019', regex_mail]}

function make_span_icon(value){

      var src_icon = 'src="capicon/svg/{}.svg"'.replace('{}',value[0])
      var im_icon = '<img class="icon_symbol" {} width="15px">'.replace('{}',src_icon)
      var span_icon = '<span> {} </span>'.replace('{}', im_icon)

      return span_icon
}

function replace_associated_information(htm, key, value){

      /*

      Replace the regexp associated to the key

      */

      var reg_match = htm.match(value[1])
      if (reg_match){
          for (var elem of reg_match){
                htm = htm.replace(elem, '<span class="' + key + '">' + elem + '</span>') // replace the phone number or the mail..
                }
      }
      return htm

}

function replace_by_symbol(htm, key, value){

      /*

      Replace the command by the corresponding symbol..

      */

      span_icon = make_span_icon(value)
      regex_replace = new RegExp('\\!' + key, 'g');  // regexp for "key" word
      htm = htm.replace(regex_replace, span_icon)  // replace the command by the icon..
      return htm

}

function replace_by_icon_and_association(elem, htm, key, value){

      /*

      Replace the command and the associated regexp..

      */

      htm = replace_by_symbol(htm, key, value)
      htm = replace_associated_information(htm, key, value)
      elem.html(htm)  // change in html

}

for (const [key, value] of Object.entries(dic_symb)) {

      $('li').each(function(){
           var htm = $(this).html()
           var regex = new RegExp('\\!' + key);
           if (htm.search(regex) != -1){

              replace_by_icon_and_association($(this), htm, key, value) // replace command by icon and change the associated information..

              } // end if

          })
} // end for

var padding_symb_info = {'lr':'7px', 'tb':'1px'} // paddings left-right and top-bottom
var dic_frame_info = {

      'border-bottom': '1px solid rgba(0,0,0,.2)',
      'padding-top': padding_symb_info['tb'],
      'padding-bottom': padding_symb_info['tb'],
      'padding-left': padding_symb_info['lr'],
      'padding-right': padding_symb_info['lr']

      }

// #ccffcc ffe6b3 d9f2d9 d6f5d6 eeeedd d9f2e6

var col_text_after_ic = 'rgb(51, 102, 255)'
$('.tél').css(dic_frame_info)                     // phone
//'background-color':'#d9f2e6' #ffc299 '#ffe680'
$('.tél').css({  'background-color': '#eafaea', 'color': col_text_after_ic }) // , 'color':'blue'
$('.mail').css(dic_frame_info)                    // mail
$('.mail').css({ 'background-color':'#fff9e6', 'color': col_text_after_ic })

$('.icon_symbol').css({                          //------- Correction on vertical position of the symbols..
                        'margin-bottom':'0px',
                        'margin-top':'2px'
                      })

// --------------- Color videos

var color_medias = '#66cc66'                // color f the medias : clear green
var dic_col_medias = {'color': color_medias}
$('.strapvid').find('a').css(dic_col_medias)
$('.strapvid').parent().css(dic_col_medias)
$('.strapvid').prev().css(dic_col_medias)
// 66cc66, 79d279

// ----------------

$('#text').hide()

MathLive.renderMathInDocument();

}) // end $(window).load..

</script>
