{% include 'begin.html' %}
{% include 'header.html' %}
{% include 'beg_straptoc.html' %}

 # Black holes

* https://eventhorizontelescope.org/
* 10th of april 2019 shi yi ge da ri..
* 直到现在 Zhídàoxiànzài until now
* 观察 guānchá to observe
* 黑洞吸附其周围的所有物质 ::
    * Hēidòng xīfù qí zhōuwéi de suǒyǒu wùzhì
        * 黑洞 Hēidòng black hole
        * 吸附 xīfù attract
        * 周围 zhōuwéi vicinity
        * 所有 suǒyǒu own
        * 物质 wùzhì matter
* 黑洞无毛发定理 ::
    * hēidòng wú máofā dìnglĭ
        * 定理 dìnglǐ theorem
*  它们会变成黑洞 ::
    * tāmen huì biànchéng hēidòng
* 行星 xíngxīng planet ::
    *  这颗行星上可能存在生命。
        * Zhèkē xíngxīngshàng kěnéng cúnzài shēngmìng
    *  星河是由无数颗行星组成的。
        * Xīnghé shì yóu wúshù kē xíngxīng zǔchéng de.
            * The Galaxy is made up of countless planets
* 星星 xīngxing star ::
    * 什么星星比太阳更亮？
        * Shénme xīngxing bǐ tàiyáng gèng liàng ?
            * What star outshines the sun?
* 大量 dàliàng mass ::
    * 大量科学知识的储备
        * Dàliàng kēxuézhīshí de chǔbèi
            * a large fund of scientific knowledge
    *  我们面临大量的问题。
        * Wǒmen miànlín dàliàng de wèntí.
            * We are facing a large number of problems.
    *  树木在秋天会大量落叶。
        * Shùmù zài qiūtiān huì dàliàng luòyè.
            * Trees can drop vast quantities of leaves in autumn
    *  我没有再听到大量谣言。
        * Wǒ méiyǒu zài tīngdào dàliàng yáoyán.
            * The floods of gossip arriving on my desk had dried up
* weight of someone ::
    * 她的体重一般。
        * Tā de tǐzhòng yìbān.
            * She has an average weight.
*  隐藏 yǐncáng  hide ::
    * 有一个山洞隐藏在岩石之中。
        * Yǒu yígè shāndòng yǐncángzài yánshí zhīzhōng.
            * There is a cave hidden among the rocks

## voca à récup..

attraction, planète, étoile, mass, poids, télescope,
première fois, vision directe, caché, indirect, observation,
extraordinaire, lumière, photon, limite, horizon, minuscule,
défi, difficulté, transfert ultra rapide à pied,  transférer,
horloge, précision, symétrie, anti-symétrie

# supra

* notion de boson, fermion..
* brisure de symétrie..
* diff manière de voir les choses..
* longtemps énigmatique..
* comme radioactivité, ça ouvre des perspectives nouvelles..
    * inattendues..
* difficultés pr faire des fibres..
* pb de tenue en champ fort..
    * diagramme de phase..

## voca à récup..

boson, fermion, répulsion, passer à travers..
liquide, fluide, électicité, résistance
découverte, intriguant, étonnant, bizarre

# Onomatopeas

# Gurb

16/4/19

* 模仿 [mófǎng] imitate
* 外星人 [wàixīngrén] alien, extraterrestrial
* 娱乐 [yúlè] have fun, entertainment
* 自得其乐 [zìdéqílè] enjoy oneself
* 冷僻 [lěngpì] deserted, rare
* 人类 [rénlèi] mankind, humankind
* 如此 [rúcǐ] so, such, in this way
* -----
* 汇报 [huìbào] report
* 每天/ 日常 everyday
* 对 ... 感到好奇 gǎndào hàoqí to be curious about
* 对某人/ 某物感到好奇
    * Duì mǒurén/ mǒuwù gǎndào hàoqí
        * to be curious about somebody/ something
* -----
* 样子 [yàngzi] appearance, expression, pattern
* 改变 [gǎibiàn] change
* 滑稽 [huájī] comical
* 店铺 [diànpù] shop {或} store
* 可笑 [kěxiào] ridiculous, funny
* 可笑死了 kĕxiào sĭ le It was ridiculous.
* -----
* 经验 [jīngyàn] experience
    * 你必须考虑到她没有经验。
        * nĭ bìxū kăolǜ dào tā méiyŏu jīngyàn
            * You must take account of her inexperience.
* 意识 [yìshí] consciousness, realize
* 情况 [qíngkuàng] circumstances
* 危急 [wēijí] critical
* 到处 [dàochù] all places
* 处处 [chùchù] everywhere, in all respects
* -----
* 狼藉 [lángjí] messy
* 景象 [jǐngxiàng] scene
* 他离开巴塞罗那去了巴黎。
    * tā líkāi bāsàiluónà qù le bālí
        * He quit Barcelona for Paris.
* 奥林匹克运动会在柏林举行。
    * Àolínpǐkè yùndònghuì zài Bólín jǔxíng.
        * The Olympic Games were being held in Berlin.
* -----
* 奇遇 [qíyù] chance encounter, adventure
* 尽头 [jìntóu] end
* 适应 [shìyìng] adapt
* 宇宙飞船 [yǔzhòufēichuán] Space Air Vehicle
* 毛病 [máobìng] problem, shortcoming, illness
* -----
* 我来这里是为了谈论生态。
    * wŏ lái zhèlĭ shì wéile tánlùn shēngtài
        * I came here to speak about ecology.
* 总是 [zǒngshì] always, Eventually.
* 主观 [zhǔguān] subjective
* -----
* 谨慎 [jǐnshèn] wary
* 最后 [zuìhòu] finally, final
* 作家 [zuòjiā] writer..  Eduardo Mendoza
* 作者 [zuòzhě] author

## voca à récup..

extraterrestre, planète, chercher partout,
drôle, comique, jeux olympiques, imiter,
croire imiter les humains, ne pas se rendre compte,
se déguiser, faire un rapport tous les jours,
sont copain est curieux, il a envie de s'amuser,
aventures

# aaaa

* [new-turmoil-over-predicting-the-effects-of-genes-20190423](https://www.quantamagazine.org/new-turmoil-over-predicting-the-effects-of-genes-20190423/)

{% include 'end_straptoc.html' %}
{% include 'scroll_socket.html' %}
{% include 'end.html' %}


