
<!DOCTYPE html>
<html>

<meta charset="UTF-8">
<title>Straptoc_eg_distant</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script  src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
<script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.1.1/jquery.contextMenu.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" ></script>
<script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.6/dist/js/alertify.js"></script>
<script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.11/js/min/perfect-scrollbar.min.js"></script>

<script  src="http://d3js.org/queue.v1.min.js"></script>

<script  src="https://cdn.rawgit.com/strablabla/Tinkering/9a148b3/js/straptoc/straptoc.js"></script>
<link rel="stylesheet" href="https://cdn.rawgit.com/strablabla/Tinkering/9a148b3/js/straptoc/straptoc.css">

<link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.11/css/perfect-scrollbar.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.1.1/jquery.contextMenu.css">

<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Enriqueta'>
<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Londrina+Solid'>
<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Pathway+Gothic+One'>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
</script>

<xmp theme="simplex" style="display:none;">

§menu toto:#janv%202016_oo    text:text
§noiframe
§width_video 10%
§width_pdf 90%
§width_iframe 1000
§col_sublist #ff6600
§col_toc #ccccff
§toggle_hide a
§help true

# Introduction
## example

$menu_bim link:nm_Edit:ic_edit:href_baragouinage



1/1/16

* [Vamosplaya  %%](Vamosplaya.mp4)
* [huppe link](#huppe)
* [cartoonmovement ,,](http://blog.cartoonmovement.com/)
* video eg ::
    * [vidéo 1  ;;](http://www.youtube.com/watch?v=QH2-TGUlwu4)


## Example of equation
* first example
    * sum ::
        * $math \sum_{i=0}^n i^2 = \frac{(n^2+n)(2n+1)}{6}

## blablabla

# barag

23/4/19

* L. Duval ::
    * Greg Egan
    * NNLS pas de lambda..
        * Slavsky..
    * docs sur proj aléatoires..
        * aiguille de Buffon etc.
    * techniques de compression, ce qui se fait de mieux..
    * Mario Sacchi au Canada.. ?
    * nom grec ..
    * accès aux ressources france culture.. ?
* job ::
    * dans linkedin mettre plus de tags..
        * algorithmes, compressed sensing, random proj etc.., parcimonie
    * retrouver le nom grec donné par Laurent.
    * dem à JC Pesquet nom du gars de sup élec..
    * gars Q comp, prog..
    * recontacter Steph Becker..
    * vr comm améliorer relax RMN 2D..
    * IPHC
        * http://www.iphc.cnrs.fr/-Yves-HANDRICH-.html
    * kaggle..
    * https://actu.epfl.ch/news/harnessing-photonics-for-at-home-disease-detection/
    * vr phootogrammétrie..
    * spinoff de l'Institut de Mathématique de Toulouse..
* calcul ::
    * [De Pascal et Schickard au calcul électronique §§](http://www.numdam.org/article/ASCFM_1962__8_2_89_0.pdf)
    * [Du doigt à la machine, le calcul §§](https://www.arts-et-metiers.net/sites/arts-et-metiers.net/files/asset/document/pj_le_calcul.pdf)
    * [Méthodes Numériques Dynamique moléculaire §§](http://sites.unice.fr/site/robbe/sem5/documents/mdlicence1.pdf)
    * [Kepler, Newton and numerical analysis §§](https://core.ac.uk/download/pdf/85213717.pdf)
* visite ::
    * musée du pétrole..
* prog ::
    * moving wall.. ::
        * objets ::
            * possib de faire montagne, reliefs etc..
            * vr pr enrg les plans horiz..
                * délenchement dans panneau objet..
        * expérims ::
            * vérif Brachistochrone..
                * retrouver numériquement la courbe
                * minimization L0 via L1..
            * modélisation relax T1-T2..
            * obtenir surface d'une boîte de forme complexes
                * à partir pression du gaz..
                    * PV = nRT ..
        * tools ::
            * mettre picking et sélection dans outils..
            * distance entre 2 obj..
            * aire ::
                * nb obj..
                * énergie..
                * vit moy..
            * mettre ::
                * select area ds tools..
                * pick picking..
            * possible de faire boîtes avec tunnel
                * transf piste en murs..
            * possible de régler angle rot par défaut..
        * scene ::
            * zône de création bcp plus grande..
            * ajouter load..
                * liste des scènes dispo..
            * mettre stop/launch animation..
            * new scene..
        * help ::
            * controls..
                * types obj..
                * noms obj..
                * vitesse..
                * énergie tot etc..
        * animation ::
            * possib de donner mvt sinusoïdal à obj..
            * vr pr faire accordéon..
        * manette ::
            * vr comm utiliser manette..
        * bug ::
            * boules qui s'échappent de la boîte..
            * apparemment bug qd on enchaîne piste et sélection..
        * créer touches/action qu'une seule fois..
* math ::
    * [Euler - Genius Blind Astronomer Mathematician §§](https://arxiv.org/pdf/1406.7397.pdf)
    * [High-Dimensional Probability §§](https://www.math.uci.edu/~rvershyn/papers/HDP-book/HDP-book.pdf)
* NMR ::
    * méc de relaxation..
        * Abragham etc..
        * BodenHausen
* admin ::
    * vr pr chômage..
    * Mutuelle..
* psy ::
    * [Ecrits Lacan 1966 §§](https://monoskop.org/images/d/da/Lacan_Jacques_Ecrits_1966.pdf)
* phys ::
    * [Manipulating orbital angular momentum entanglement by using the Heisenberg Uncertainty principle §§](https://arxiv.org/pdf/1801.00894.pdf)
* ML ::
    * [Approximating Likelihood Ratios with Calibrated Discriminative Classifiers §§](https://arxiv.org/pdf/1506.02169.pdf)
* algos ::
    * [GENERALIZATIONS OF THE DURAND-KERNER METHOD §§](https://arxiv.org/pdf/1806.06280.pdf)
    * [MODIFIED WEIERSTRASS METHOD WITH GAUSS–SEIDEL APPROACH FOR FINDING MULTIPLE POLYNOMIAL ZEROS §§](http://www.mi.sanu.ac.rs/~gvm/radovi/tivat.pdf)
* http://www.laurent-duval.eu/siva-signal-image-links.html
* https://www.causeur.fr/fatiha-boudjahlat-laicite-voile-frere-160635
* https://toolbox.google.com/datasetsearch

24/4/19

* https://medium.freecodecamp.org/a-birds-eye-vue-how-to-get-started-with-vue-js-dd1b82795908
* prog ::
    * mov walls ::
        * commande vocale ::
            * réponses ::
                * mettre voix féminine..
                * vr où réponses pê utile..
            * graphe énergie..
        * obj ::
            * faire fonction fill box..
            * vr pr faire polygone quelconque..
            * réécrire track en faisant co pr wall_box..
                * rotation et orientation..
        * infos stats ::
            * améliorer présentation du panneau..
            * plus de stats..
                * nb obj par type..
                * énergy moyenne..
                * énerg potentielle..
                * quantité de mvt..
                * vr pr faire graphe en fonction du temps..
                    * obs oscill périodiques etc..
                    * histo pr Maxwell..
        * réfl ::
            * moment cinétique = phéno émergent..
        * continuer interaction avec voix..
            * rajouter ::
                * liaison élastique..
                * informations
        * mvt ::
            * qd ça cogne contre mur, coul bleue..
            * vr si magnet encore actif pr sphère..
            * calcul libre parcours moyen..
        * vr pr utiliser LESS à la place de CSS..
        * bugs ::
            * les murs faits avec piste ne doivent pas bouger..
                * ça vient des plots..
                    * pê faire disp les plots..
            * réussir à corriger pb de porosité..
        * outils ::
            * changement de niveau..
* http://images.math.cnrs.fr/Le-lion-de-Belfort-et-les-voutes-en-berceau?lang=fr
* https://sdkcarlos.github.io/sites/artyom.html
* santé ::
    * vaccin dtp..
* job ::
    * vr pr calcul quantique..
        * https://www.linkedin.com/jobs/view/1213690867/
        * me former rapidement..
    * comm à voir pr faire site payant..
    * linkedin,
        * ajouter ::
            * algèbre, calcul etc..
    * https://betterhumans.coach.me/how-to-network-with-people-you-dont-know-to-get-the-job-you-want-7feee9474d40
* culture ::
    * [Why St George is a Palestinian hero](https://www.bbc.com/news/magazine-27048219)
* https://www.quantamagazine.org/artificial-intelligence-finds-ancient-ghosts-in-modern-dna-20190207/
* faire le ménage ds hotmail ds dossier intéressant..
* ML ::
    * [Enhanced Expressive Power and Fast Training of Neural Networks by Random Projections §§](https://arxiv.org/pdf/1811.09054.pdf)
* https://phys.org/news/2019-04-ghana-eyes-world-medical-drone.html

25/4/19

* math ::
    * https://terrytao.wordpress.com/tag/brunn-minkowski-inequality/
    * développer de nlles idées..
    * [A Brief History of Strahler Numbers §§](https://www7.informatik.tu-muenchen.de/~esparza/Talks/lata14.pdf)
    * https://fr.wikipedia.org/wiki/Lexique_de_la_th%C3%A9orie_des_graphes
    * [GRAPHS, MATRICES, AND CIRCUIT THEORY §§](https://pdfs.semanticscholar.org/fe8f/2fead3aa49247efcf3da8e86488a5e236310.pdf)
* science ::
    * https://viajandoconciencia.home.blog/2019/04/22/en-los-castillos-tambien-hay-ciencia-nos-vamos-a-guadamur/
* prog ::
    * mov walls ::
        * phys ::
            * vérif 1/2 CU**2
        * interaction ::
            * mettre interaction en 1/r**2 ..
        * formes ::
            * collines, montagnes..
                * https://hackernoon.com/how-to-make-mountains-memorable-with-perlin-noise-76f93da23601
        * objets ::
            * chaîne, élastique et rigide...
                * possib de dessiner directement..
                    * boules reliées..
            * possib de changer tension élastique..
            * tissu de sphères reliées par élastique..
                * maillage régulier carré..
                    * vr en soulevant les bords..
                        * Gaudi..
            * formes fractales etc..
            * arbres en utilisant moteur phys..
                * nb de Strahler.
        * comm vocales ::
            * piste mur
            * picking
            * animation et stop animation..
            * élastique
            * vitesses nulles ds sélection
            * maillage élastique régulier..
            * possib donner vit max..
        * mouvement ::
            * possib de mettre vit à 0 ou aléatoire..
        * divers ::
            * vr comment utiliser le ML..
                * reconn de formes, positions etc..
            * vr conso électrique en fonction
                * comlpexité de la scène..
                    * utiliser le Wattmètre.
        * math ::
            * faire graphe et trouver de manière aléatoire
                * la décomposition en boucles..
                    * mettre aléatoirement des boules dans le graphe.
                        * les boules touches les parois..
                            * ça donne les boucles..
                    * arriver à aplanir le graphe..
                        * vr si poss de faire ça avec moteur phys..
  * ML ::
      * [Stochastic Deep Networks §§](https://arxiv.org/pdf/1811.07429.pdf)
      * commencer à créer des outils pr activité..
* langues ::
    * https://cosmosmagazine.com/social-sciences/it-s-official-english-is-a-genuinely-weird-language
* divers ::
    * emmener obj à la décharge.
    * vendre ordis qui servent plus..
    * changer cartouche jaune de l'imprimante..
* bio ::
    * https://cosmosmagazine.com/biology/silent-no-more-river-dolphins-turn-out-to-be-talkative
* evol ::
    * https://phys.org/news/2019-04-callichimaera-perplexa-platypus-crabs.html
* jobs ::
    * CEA ::
        * https://www.emploi.cea.fr
    * EPFL
    * réfl pr dév de nouv softs..
    * vr opportunités côté iCube..
        * [Using Machine Learning Algorithms for Breast Cancer Risk Prediction and Diagnosis](https://pdf.sciencedirectassets.com/280203/1-s2.0-S1877050916X00063/1-s2.0-S1877050916302575/main.pdf)
            * Thomas Noel, ICube Laboratory,University of Strasbourg,Strasbourg 67400,France
    * vr si emplois à Minion..
    * vr du côté des centres en IA, quatre centres..
* bouquins ::
    * récupérer ds http://m.bookfi.net/

26/4/19

* prog ::
    * mov walls ::
        * vr fonctions pr circ électronique..
            * graphes etc..
    * repr projet d'éditeur de notes avec node.js..
        * rev code, éditeur qui s'ouvre au bon endroit !!!
        * passer de l'un à l'autre avec barre d'espace..
        * vr pr cacher les librairies..
            * ne mettre que le contenu markdown..
        * cliquer sur la date renvoie à bonne position dans le texte..
* sciences ::
    * algos ::
        * [Heavy-tailed kernels reveal a finer cluster structure in t-SNE visualisations §§](https://arxiv.org/pdf/1902.05804.pdf)
    * math ::
        * [Why Are Big Data Matrices Approximately Low Rank §§](https://epubs.siam.org/doi/pdf/10.1137/18M1183480)
    * phys ::
        * https://www.lenouvelliste.ch/articles/suisse/tournoi-international-des-physiciens-a-l-epfl-les-suisses-5e-finale-vendredi-836074
    * divers ::
        * https://castel.dev/post/lecture-notes-1/
* job ::
    * spinoff IMT à Toulouse
    * https://www.telecom-paristech.fr/fr/innovation-entrepreneuriat/spin-off
    * AMIES, ABG..
    * améliorer maîtrise Atom.io..

</xmp>


<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>


<script> maketoc()</script>

<script src="/socket.io/socket.io.js"></script>

<script>
   var socket = io.connect();//'http://localhost:3000'

   socket.on('connection', function() {
       socket.emit('join', 'This is a message from client' );
      });

$('.date').click(function(){
       var patt = $(this).attr('id').split('_')[1]
       window.location.href = 'text';
       socket.emit('scroll', patt );// noooothinggggggggggggggggg
  })// end click



 </script>


</html>
