{# Straptoc #}

{% include 'page_struct/begin.html' %}
{% include 'page_struct/header.html' %}
{% include 'page_struct/beg_straptoc.html' %}
{% include 'page_struct/straptoc_params.html' %}

{% block text %}{% endblock %}

{# Page struct #}

{% include 'page_struct/end_straptoc.html' %}

{# Struct #}

{% include 'struct/pages.html' %}

{# Basics #}

{% include 'basics/stat.html' %}
{% include 'basics/manuscript.html' %}
{% include 'basics/tchat.html' %}
{% include 'basics/help.html' %}
{% include 'basics/store.html' %}
{% include 'basics/agenda.html' %}
{% include 'basics/config.html' %}
{% include 'basics/search.html' %}
{% include 'basics/voice.html' %}
{% include 'basics/show_li.html' %}
{% include 'page_struct/scroll_socket.html' %}
{% include 'basics/block.html' %}

{# Plugins #}

{% block plugins %}{% endblock %}

{% include 'style/modif_css.html' %}
{% include 'page_struct/end.html' %}
