addresses:
  - ../../../../../../media/sdata:
      - Alire
      - papers_to_keep:
          - Litt
          - Physics
      - Lemonde:
          - '2018'
          - '2019'
          - '2020'
      - zic
  - ../../../../../../media
  - fonts
  - icons
  - lib
  - public
  - scripts
  - static
color_tags:
  job:
    inside:
      color: '#99dfff'
    title:
      color: '#00aeff'
  prog:
    inside:
      color: '#ffe6e6'
    title:
      color: '#ff9999'
  phys:
    inside:
      color: '#adebad'
    title:
      color: '#5cd65c'
  astroph:
    inside:
      color: '#d279a6'
    title:
      color: '#d98cb3'
  math:
    inside:
      color: '#ffb380'
    title:
      color: '#ff944d'
  infos:
    inside:
      color: '#c2d6d6'
    title:
      color: '#85adad'
  société:
    inside:
      color: '#993300'
    title:
      color: '#b33c00'
  ML:
    inside:
      color: '#e60000'
    title:
      color: '#ff0000'
  drôle:
    inside:
      color: '#f7f7c0'
    title:
      color: '#c5c599'
  histoire:
    inside:
      color: '#77b300'
    title:
      color: '#88cc00'
  films:
    inside:
      color: '#cc66cc'
    title:
      color: '#a351a3'
  org:
    inside:
      color: '#ffe066'
    title:
      color: '#ffe680'
  boulot:
    inside:
      color: '#f3f381'
    title:
      color: '#c2c267'
  perso:
    inside:
      color: '#c6538c'
    title:
      color: '#cc6699'
  docs:
    inside:
      color: '#00cc00'
    title:
      color: '#00e600'
  admin:
    inside:
      color: '#ff9966'
    title:
      color: '#ffaa80'
  énergie:
    inside:
      color: '#88cc00'
    title:
      color: '#99e600'
  réflexion:
    inside:
      color: '#99e699'
    title:
      color: '#adebad'
  divers:
    inside:
      color: '#33bbff'
    title:
      color: '#4dc3ff'
  tests:
    inside:
      color: '#f5f82a'
    title:
      color: '#c4c621'
  écologie:
    inside:
      color: '#00e600'
    title:
      color: '#00b800'
  techno:
    inside:
      color: '#99cc00'
    title:
      color: '#ace600'
  bricolage:
    inside:
      color: '#1ab2ff'
    title:
      color: '#33bbff'
  réparations:
    inside:
      color: '#88cc00'
    title:
      color: '#99e600'
  idées:
    inside:
      color: '#cc8800'
    title:
      color: '#e69900'
  lire:
    inside:
      color: '#ffcc99'
    title:
      color: '#ffd9b3'
  remarque:
    inside:
      color: '#cccc00'
    title:
      color: '#e6e600'
  potes:
    inside:
      color: '#adad85'
    title:
      color: '#b8b894'
  santé:
    inside:
      color: '#ff80ca'
    title:
      color: '#cc66a1'
  phrases:
    inside:
      color: '#00aaff'
    title:
      color: '#1ab2ff'
  récup:
    inside:
      color: '#e085c2'
    title:
      color: '#e699cc'
  projets:
    inside:
      color: '#ffaa80'
    title:
      color: '#ffbb99'
  contacts:
    inside:
      color: '#009999'
    title:
      color: '#007a7a'
  langues:
    inside:
      color: '#ff7d7d'
    title:
      color: '#cc6464'
  médias:
    inside:
      color: '#ffcc33'
    title:
      color: '#ffd24d'
  voyage:
    inside:
      color: '#fbd85b'
    title:
      color: '#c8ac48'
  blingbling:
    inside:
      color: '#b75757'
    title:
      color: '#924545'
vocabulaire:
  '#Science_':
    - Physique
    - Chimie
    - Gros instruments
    - Grands organismes
    - Publications libres
    - Mathématiques
    - Algos
    - Traitement du signal
    - Neuroscience
    - Biologie
    - Géologie
    - Planétologie
    - Evolution
    - Astrophysique
    - Zoologie
    - Linguistique
    - Archéologie
    - Histoire
    - Psychologie
    - Médecine santé
    - Podcast science
  '#Culture_':
    - Mediathèque
    - Biblis en ligne
    - Les jardins
    - Architecture
    - Cinéma
    - Musique
    - Danse
    - Chanson
    - Dessin
    - Peinture
    - Photo
    - Littérature
    - Langues
    - Bande dessinée
    - Série télé
    - Animation
    - Echecs
    - Les ailleurs
    - ' Voyages'
    - Langues_Latin
    - Cuisine
    - Sport
    - Personnes intéressantes
    - Personnes diverses
  '#Culture_Langues_':
    - hop
  '#Culture_Chanson_':
    - Oriental
    - Pop
    - Ska
    - Anglosaxonne
    - Créole
    - Variantes
    - Latine
    - Brésilienne
    - Italienne
    - Française
    - Variantes
    - Artisanale
    - Bollywoodienne
    - Planante
    - Asiatique
    - Slave
  '#Recherche jobs_':
    - Entretien
    - Demandes job faites
    - Travail
    - Bordel
  '#Société_Thèmes_':
    - Cartes
    - Europe
    - Ecologie
    - Evolution
    - Egalité
    - Féminisme
    - liberté d'expression
    - Liberté
    - Education
    - Recherche
    - Economie
    - Histoire géo
    - Circulation
    - l'humour
    - Le travail
    - Les autres
    - Santé et société
    - Energie
    - Futur
    - Prison
    - Prostitution
    - Sexualité
    - Xénophobie
    - Action sociale
    - Laïcité
    - initiatives intelligentes
    - Progrès et dangers associés
    - Honnêteté intellectuelle
    - Fanatisme
    - Sectes
    - Nucléaire
    - Femmes
    - Discrimination
    - Vie régentée
    - Développement
    - Education
    - Politique
  '#':
    - Santé
    - Marrant
    - Administratif
    - Réflexion
    - Innovation
    - Science
    - Pratique
    - Mes Projets
    - Programmation
    - Contacts
    - Latin
    - Français
    - Turc
    - Arabe
    - Chinois
    - Russe
    - Allemand
    - Thaï
    - Vietnamien
    - Anglais
  '##':
    - Le Monde
    - Le Courrier International
subtitles_path: ../../../../../../media/sdata/Films/Very_Good
server:
  port: 3007
  host: 0.0.0.0
  ssl:
    key: key.pem
    cert: server.crt
hidden_pages:
  - example2
  - example1
addr_saved: ../../../../../media/sdata/docs/strap_save_test/
autosave_interval: 30
reminders:
  email_enabled: false
  email_address: ''
  email_service: gmail
  email_user: ''
  email_password: ''
  notification_minutes_before: 30
  check_interval_minutes: 5
dic_icon_pages:
  todo: '044'
  science: '205'
  fait: '265'
  infos: '342'
  idees: '040'
  a_lire: '195'
  musique: '379'
  good_links: '034'
  culture: '238'
  sante: '008'
  chansons: '067'
  medias: '070'
  innovation: '345'
  pratique: '072'
  reflexion: '378'
  societe: '050'
  job: '376'
  projet: '380'
  tests: '164'
config_style:
  infos:
    hhh2:
      text-align: center
      color: '#ff00ff'
    h2:
      text-align: left
      color: '#b30047'
