
<!DOCTYPE html>
<html>

<meta charset="UTF-8">
<title>Straptoc_eg_distant</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script  src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
<script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.1.1/jquery.contextMenu.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" ></script>
<script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.6/dist/js/alertify.js"></script>
<script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.11/js/min/perfect-scrollbar.min.js"></script>

<script  src="http://d3js.org/queue.v1.min.js"></script>

<script  src="https://cdn.rawgit.com/strablabla/Tinkering/9a148b3/js/straptoc/straptoc.js"></script>
<link rel="stylesheet" href="https://cdn.rawgit.com/strablabla/Tinkering/9a148b3/js/straptoc/straptoc.css">

<link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.11/css/perfect-scrollbar.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.1.1/jquery.contextMenu.css">

<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Enriqueta'>
<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Londrina+Solid'>
<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Pathway+Gothic+One'>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>



<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
</script>

<style>

    /*
    Panel with interpreted straptoc
    */

    div.strap{
        position: fixed;
        padding-left: 10px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-top: 20px;
        box-shadow: 0.5em 0.5em 0.7em;
        top: 70px;
        /*left: 1110px;*/
        left: 620px;
        max-height:600px;
        max-width:420px;
        background-color: #ffd1b3 ; /*#ddcccc;*/ #ffe6e6 #ffd1b3
        font-size:85%;
        overflow: scroll;
        text-align: left;
        z-index: 15;
        opacity: 0.9;
        }


</style>

 <div class="form-group">
  <label for="comment">Comment:</label>
  <textarea class="form-control" rows="10" id="comment" style="width: 600px; height: 300px">aaaa</textarea>

  <br/>

  <div class="col-sm-10">
     <button type="submit" class="btn btn-default" id='submit' >Submit</button>
   </div>

</div>

<div class="col-sm-10">
   <a type="button" class="btn btn-default" href='/' >go to strap</a>
 </div>

 <div class="strap" id='strap'>

</div>

 <script src="/socket.io/socket.io.js"></script>
 <script>

 //var path = require("path");

    var iframe = $('<iframe/>').attr('src', '/home/lio/Desktop/git/Tinkering/js/node/myapp/views/strap_small.html')
    // alert(path.join(__dirname + '/views/strap_small.html'))
    $('#strap').append(iframe)
    var socket = io.connect();  //'http://localhost:3000'
    socket.on('connection', function() {
        socket.emit('join', 'This is a message from client' );
    });

    socket.on('message', function(message) {     // retrieve text in textarea..
        $('#comment').val(message);
    })

    $('#submit').click(function(){               // submit new text..
      socket.emit('return', $('#comment').val());
    }) // end click

    socket.on('scroll', function(ratio) {        // retrieve text in textarea..
        // alert(ratio)
        var h = $('#comment').height()
        var scrollpos = parseInt(ratio) + 700 // h*parseFloat(ratio)
        // alert(scrollpos)
        $('#comment').scrollTop(scrollpos)
      })

</script>

</html>
