
# exemples

Différentes choses possibles avec ce code

* on va passer en revue quelques fonctionnalités

##### coloration dans le texte

* ceci est du texte "coloré"cg 

#####  on peut ajouter une date avec clic droit

1/1/16

##### on peut ajouter une vidéo en local

* [Vamosplaya  %%](videos/Vamosplaya.mp4)

##### on peut ajouter des vidéos à partir d'un dossier

* !fold videos

##### on peut ajouter des vidéos via rep  

* la commande rep permet de créer le code suivant
	* ```
      * $vid
    	+++ videos
        [Vamosplaya %%] (Vamosplaya.mp4)
        [Niagara L-Amour A La Plage %%] (Niagara_L-Amour_A_La_Plage.mp4)
      ```
* en ouvrant le lecteur et en cliquant sur "deux vidéos", 
	* ça charge les vidéos dans le lecteur.. 
* deux vidéos 
    * $vid
    +++ videos
    [ Vamosplaya %%](Vamosplaya.mp4)
    [ Niagara L-Amour A La Plage %%](Niagara_L-Amour_A_La_Plage.mp4)

##### ou une vidéo qui est en ligne

* [bien sapés ;;](https://www.youtube.com/watch?v=4m2M8_DWT1A)

##### on peut ajouter une image avec ses dimensions

![oranger 300x300](imgs/oranger_en_pot.png)

##### possible d'écrire des équations

* Sum of squares
	* $math \sum_{i=0}^n i^2  =\  \frac{ (n^2+n)(2n+1) }{6}
* Basel formula 
	* $math  \sum_{1}^{\infty} \frac{1}{n^2} =\ \frac{\pi^2}{6}  

##### on peut insérer un lien

* [en-los-castillos-tambien-hay-ciencia-nos-vamos-a-guadamur](https://viajandoconciencia.home.blog/2019/04/22/en-los-castillos-tambien-hay-ciencia-nos-vamos-a-guadamur/)

##### on peut insérer un pdf directement

###### local

* [ Classical and Relativistic Derivation of the Sagnac Effect §§](pdfs/Classical_and_Relativistic_Derivation_of_the_Sagnac_Effect.pdf)
* [ Sebastian Brant DasNarrenschiff §§](pdfs/Sebastian_Brant_DasNarrenschiff.pdf)

###### distant 

* [Correlation lengths of flat-band superconductivity from quantum geometry §§](https://arxiv.org/pdf/2601.12969)

##### pdfs extraits d'un dossier avec rep

* liste de pdfs 
    * $pdf
    +++ pdfs
    [ Classical and Relativistic Derivation of the Sagnac Effect §§](Classical_and_Relativistic_Derivation_of_the_Sagnac_Effect.pdf)
    [ Sebastian Brant DasNarrenschiff §§](Sebastian_Brant_DasNarrenschiff.pdf)


##### pdfs extraits d'un dossier (lazy loading) avec fold

* !fold pdfs

##### pdfs extraits de dossiers dans un dossier (récursif) avec fold

* !fold pdfs_levels

##### on peut insérer des epubs avec rep

* epubs
    * $pdf
    +++ /epubs
    [ Menage tes meninges Dard Frederic §§](Menage_tes_meninges_Dard_Frederic.epub)
    [ Dernieres nouvelles des trous noirs Stephen Hawking §§](Dernieres_nouvelles_des_trous_noirs_Stephen_Hawking.epub)
	[ LHumeur vagabonde Blondin Antoine §§](LHumeur_vagabonde_Blondin_Antoine.epub)
	[ Tanger sous la pluie Grolleau de Bruxelles §§](Tanger_sous_la_pluie_Grolleau_de_Bruxelles.epub)
    
##### pdfs et epubs extraits d'un dossier (lazy loading) avec fold

* !fold many_txt_types

##### pdfs et epubs extraits d'un dossier avec sous-dossiers (récursif) avec fold

* !fold many_txt_types_levels

##### on créer une alerte à une date donnée

* !alert Ceci est une alerte.. 20_2_4

##### num tél et mail sont formatables

* !tél : 06-06-09-09-06
* !mail : eduardo.corcovado@gmail.com

##### on peut barrer une phrase

* t'es complètement barré .. %%%
* blabla (oups)%%%

##### écrire en chinois 

* 光说空话不做事，犹如花园光长刺

##### Sublists and blocks

* infos 
	* data 
		* Variant II ::
            * ```
            Bonne question — le VARIANT II (Bio-Rad) n’est pas toujours très transparent pour l’export des données 😅
            Voilà les méthodes concrètes pour récupérer les résultats, de la plus simple à la plus “tech”.

            1️⃣ Export direct depuis le logiciel VARIANT II (méthode standard)

            Sur la station de contrôle :

            Aller dans Results / Patient Results

            Sélectionner les analyses souhaitées

            Chercher une option du type :

            Export

            Save As

            Print to file

            👉 Selon la version logicielle, l’export peut être :

            CSV / TXT

            PDF

            parfois uniquement impression virtuelle
			```

##### Portfolio

* dans cet exemple on donne la possibilité
	* de tester différents modes de visualisation
    	* mode cascade, circle, carousel, one_by_one
* Porfolio example ::
    * $portf
    +++ imgs
    ![% Schienenzeppelin Steilrampe %](Schienenzeppelin_Steilrampe.jpg)
    ![% tower %](tower.jpg)
    ![% turbine %](turbine.jpg)
    ![% Jacaranda mimosifolia en Afrique %](Jacaranda_mimosifolia_en_Afrique.jpg)
