# Notes

# HOrus 2020

2/4/20

* node_strap
	* réussi à simplifier code pr autres pages..
    	* ça ouvre la possiblité à mettre bcp plus d'autres feuilles..

5/4/20

* nouvelle date..
* nouveauté..
* reblabla..

6/4/20

* continuation de l'amélioration de l'ensemble d'un peu tout..
	* Wallis et Futuna
* l'homme qui tombe à pic .. 
	* $vid
	+++ sdata/docs/Art/Génériques/Fall_Man
	[The Fall Guy intro  1982 %%](The_Fall_Guy_intro__1982.mp4)
	[Tv Theme Fall Guy  Full Version %%](Tv_Theme_Fall_Guy__Full_Version.mp4)
	[Fall Guy  Intro End Credits %%](Fall_Guy__Intro_End_Credits.mp4)
	[l'homme qui tombe a pic  generique version longue %%](l'homme_qui_tombe_a_pic__generique_version_longue.mp4)

