
# Infos

* First sentence..

## infos diverses

* divers 
	* https://hypotheses.org/
* techno ::
	* DL, QT et autre joyeusetés.. 
	* https://lelabquantique.com/
    * [IA-des-chercheurs-ont-mis-au-point-des-algorithmes-d-apprentissage-automatique-qui-s-ameliorent-generation-apres-generation-sans-intervention-humaine](https://intelligence-artificielle.developpez.com/actu/300279/IA-des-chercheurs-ont-mis-au-point-des-algorithmes-d-apprentissage-automatique-qui-s-ameliorent-generation-apres-generation-sans-intervention-humaine/)
	* [to-build-truly-intelligent-machines-teach-them-cause-and-effect-20180515](https://www.quantamagazine.org/to-build-truly-intelligent-machines-teach-them-cause-and-effect-20180515/)
* infos sciences sociales etc... 
	* https://www.cairn.info
    
## santé 

* trucs sur la santé.. 
* [Hopes raised of cervical cancer eradication](https://www.bbc.com/news/health-48758730)
* covid19 ::
    * personnes connues mortes du Covid19.. ::
        * Manu DiBango 
        * Pap Diouf.. 
        * John Conway 
        * Christophe
        * gars de Crocodile Dundee.. 
        * Devedjian
    * personnes relativement jeunes mortes du Covid19.. ::
        * [yvelines-deces-dr-jacques-fribourg-urgentiste-lhopital-trappes-victime-covid-19](https://actu.fr/ile-de-france/trappes_78621/yvelines-deces-dr-jacques-fribourg-urgentiste-lhopital-trappes-victime-covid-19_33260635.html)
        * Jean-Philippe Ruggieri, 51 ans, PDG Nexity
            * [immobilier-disparition-de-jean-philippe-ruggieri-directeur-general-de-nexity-846059](https://www.latribune.fr/entreprises-finance/industrie/biens-d-equipement-btp-immobilier/immobilier-disparition-de-jean-philippe-ruggieri-directeur-general-de-nexity-846059.html)
    * témoignages ::
    	* [comment-j-ai-attrape-ca-j-avais-pourtant-pris-toutes-les-mesures-le-journal-d-un-medecin-de-campagne-victime-du-coronavirus_6035259_1651302](https://www.lemonde.fr/sante/article/2020/04/02/comment-j-ai-attrape-ca-j-avais-pourtant-pris-toutes-les-mesures-le-journal-d-un-medecin-de-campagne-victime-du-coronavirus_6035259_1651302.html)
    * Anticorps ::
    	* [covid-19-interrogations-sur-lexcretion-du-virus-et-la-reponse-en-anticorps](https://www.lemonde.fr/blog/realitesbiomedicales/2020/04/17/covid-19-interrogations-sur-lexcretion-du-virus-et-la-reponse-en-anticorps/)
    	* [nous-n-avons-pas-encore-de-preuve-que-les-anticorps-produits-a-la-suite-de-l-infection-par-le-sars-cov-2-soient-capables-de-le-neutraliser](https://www.lemonde.fr/sante/article/2020/04/20/nous-n-avons-pas-encore-de-preuve-que-les-anticorps-produits-a-la-suite-de-l-infection-par-le-sars-cov-2-soient-capables-de-le-neutraliser_6037196_1651302.html)
    * mécanismes
    	* [covid-19-comment-le-coronavirus-exploite-la-reponse-immunitaire-pour-attaquer-des-cellules-respiratoires-et-intestinales](https://www.lemonde.fr/blog/realitesbiomedicales/2020/04/26/covid-19-comment-le-coronavirus-exploite-la-reponse-immunitaire-pour-attaquer-des-cellules-respiratoires-et-intestinales/)
	* voies prometteuses
    	* [le-tocilizumab-ameliore-significativement-le-pronostic-des-patients-avec-pneumonie-covid](https://www.aphp.fr/contenu/le-tocilizumab-ameliore-significativement-le-pronostic-des-patients-avec-pneumonie-covid)
	* Réflexions sur les mesures à prendre.. 
    	* [virologist-christian-drosten-germany-coronavirus-expert-interview](https://www.theguardian.com/world/2020/apr/26/virologist-christian-drosten-germany-coronavirus-expert-interview)

## Divers pass .. 

* Grand Optical.. 
	* https://www.grandoptical.com
	* mail officiel, mp : park near home.. + shi er.. 
* impôts.gouv 	
	* parc near home + shi er.. 
        
## Archéologie 

* trucs sur l'archéo.. 
* [rise-religion-pre-dates-incas-lake-titicaca](https://news.psu.edu/story/566534/2019/04/01/research/rise-religion-pre-dates-incas-lake-titicaca)
* [700-year-old tomb discovered in northwest China](https://archaeologynewsnetwork.blogspot.com/2020/04/700-year-old-tomb-discovered-in.html)
* [amazonian-crops-domesticated-10000-years-ago](https://news.psu.edu/story/614004/2020/04/08/research/amazonian-crops-domesticated-10000-years-ago)

## Génétique 

* Trucs de génétique
* [neanderthal-dna-you-carry-may-have-surprisingly-little-impact-your-looks-moods](https://www.sciencemag.org/news/2020/04/neanderthal-dna-you-carry-may-have-surprisingly-little-impact-your-looks-moods)

## Art 

* Oeuvres etc.. 
* peintres 
    * https://www.tuttartpitturasculturapoesiamusica.com/2015/08/Giovanni-Lomi.html

* Icônes 
	* https://material.io/resources/icons/
* Calcul 
	* [Wolfram, Lex Fridman ;;](https://www.youtube.com/watch?v=ez773teNFYA)
* Géologie 
	* https://planet-terre.ens-lyon.fr/
    * [2020-04-usgs-first-ever-comprehensive-geologic-moon](https://phys.org/news/2020-04-usgs-first-ever-comprehensive-geologic-moon.html)

## Astroph

* Différents trucs en Astrophysique
* Trous noirs
	* BH fusion 
    	* [gw190412-une-fusion-de-deux-trous-noirs-de-masses-tres-differentes](https://in2p3.cnrs.fr/fr/cnrsinfo/gw190412-une-fusion-de-deux-trous-noirs-de-masses-tres-differentes)
	* Star around BH 
    	* [star-dancing-around-a-supermassive-black-hole-confirms-einstein-yet-again](https://arstechnica.com/science/2020/04/star-dancing-around-a-supermassive-black-hole-confirms-einstein-yet-again)
		* [Star dancing around supermassive Max Planck Institute](http://www.mpe.mpg.de/7433286/news20200416)
    * BH jet 
    	* [le-mecanisme-d-allumage-des-jets-de-trous-noirs-revele](https://www.osug.fr/actualites/faits-marquants/le-mecanisme-d-allumage-des-jets-de-trous-noirs-revele.html)
	* [why-are-black-holes-so-bright-20200422](https://www.quantamagazine.org/why-are-black-holes-so-bright-20200422/)
* Planètes
	* [unlike-earth-venus-gases-atmosphere-are-not-uniformly-mixed](https://www.sciencenews.org/article/unlike-earth-venus-gases-atmosphere-are-not-uniformly-mixed)
	* [China's first Mars exploration mission named Tianwen-1](http://www.china.org.cn/china/2020-04/24/content_75972021.htm)
	* [nantes-chercheurs-confirment-qu-ocean-liquide-se-trouve-surface-satellite-saturne](https://france3-regions.francetvinfo.fr/pays-de-la-loire/loire-atlantique/nantes/nantes-chercheurs-confirment-qu-ocean-liquide-se-trouve-surface-satellite-saturne-1218811.html)
* Etoiles
	* [nworlds-first-3d-simulations-illuminates-the-physics-of-superluminous-supernovae](https://cs.lbl.gov/news-media/news/2020/nworlds-first-3d-simulations-illuminates-the-physics-of-superluminous-supernovae/)
* Lunes
	* [The subsurface habitability of small, icy exomoons](https://www.aanda.org/articles/aa/full_html/2020/04/aa37035-19/aa37035-19.html)
* Astéroïdes
	* [decouverte-de-la-premiere-population-dasteroides-venus-dailleurs](http://www.cnrs.fr/fr/decouverte-de-la-premiere-population-dasteroides-venus-dailleurs)

## Math

* [Hilbert's_Basis_Theorem](https://artofproblemsolving.com/wiki/index.php/Hilbert%27s_Basis_Theorem)
* [chaos-theory-in-ecology-predicts-future-populations-20151013](https://www.quantamagazine.org/chaos-theory-in-ecology-predicts-future-populations-20151013/)
* 'There are 5 fundamental operations in mathematics: addition, subtraction, multiplication, division, and modular forms.' -- Martin Eichler
* [a-p-adic-proof-that-pi-is-transcendental](https://mattbaker.blog/2015/03/20/a-p-adic-proof-that-pi-is-transcendental/)

## Phys 

* liens sur la physique.. 
* [big-ideas-big-picture](https://www.symmetrymagazine.org/collection/big-ideas-big-picture)
* [what-is-the-black-dropeffect](https://skyandtelescope.org/astronomy-news/observing-news/what-is-the-black-dropeffect/)
* [Ha descubierto Stephen Wolfram la Teoría del Todo](https://www.larazon.es/ciencia/20200424/muler3ujujgefmcf5ifho35yfy.html)
* [alpha-collaboration-cern-reports-first-measurements-certain-quantum-effects](https://home.cern/news/news/physics/alpha-collaboration-cern-reports-first-measurements-certain-quantum-effects)
* [Nima_Arkani-Hamed, Pirsa](http://pirsa.org/index.php?p=speaker&name=Nima_Arkani-Hamed)
* [Jean-Michel Courty, Merci la Physique, vidéos](https://www.youtube.com/channel/UCopqcajNZl96Oy3oeRQIk3g/videos)
* Ordis Q 
	* [john-preskill-explains-quantum-supremacy-20191002](https://www.quantamagazine.org/john-preskill-explains-quantum-supremacy-20191002/)
* Thermo 
	* [Thermogravitational_cycle](https://en.wikipedia.org/wiki/Thermogravitational_cycle)
* Solide 
	* [topo order](https://nbviewer.jupyter.org/github/topocm/topocm_content/blob/edx_2015/w12_manybody/topoorder.ipynb)
	* [las-bandas-de-bloch](https://culturacientifica.com/2020/04/14/las-bandas-de-bloch)
    * Supra 
        * [2020-04-superconductivity-hydrogen-fault](https://phys.org/news/2020-04-superconductivity-hydrogen-fault.html)
* Particules 
	* [New evidence from neutrinos points to one of several theories about why the cosmos is made of matter and not antimatter](https://www.scientificamerican.com/article/antimatter-discovery-reveals-clues-about-the-universes-beginning)

## divers 

* [Ultracrepidarianism](https://en.wikipedia.org/wiki/Ultracrepidarianism)
    
## prog 

* liens etc sur la programmation..
* général 
	* [how-to-get-a-developer-job-the-best-programming-languages-to-learn](https://www.techrepublic.com/article/how-to-get-a-developer-job-the-best-programming-languages-to-learn/)
* Langages 
	* https://julialang.org/
* http://perfectionkills.com/
	* http://perfectionkills.com/jscritic/
    	* estimation de la qualité du code.. 
* truc de geeks
    * kernel hacking ::
        * https://www.kernel.org/doc/html/latest/kernel-hacking/index.html
        * ["You can be a kernel hacker!" by Julia Evans ;;](https://www.youtube.com/watch?v=0IQlpFWTFbM)
	* https://twitter.com/scpwiki
    * http://www.scp-wiki.net/scp-1867
    * https://en.wikipedia.org/wiki/SCP_Foundation
* [quantum-programming-getting-from-0-to-1-using-cirq-6v6s32g8](https://hackernoon.com/quantum-programming-getting-from-0-to-1-using-cirq-6v6s32g8)
* js 
	* [5-secret-features-of-json-stringify](https://medium.com/javascript-in-plain-english/5-secret-features-of-json-stringify-c699340f9f27)
* py
	* [documenting-python-code](https://realpython.com/documenting-python-code/)
* node
    * [Node.js Crash Course ;;](https://www.youtube.com/watch?v=fBNz5xF-Kx4)
    * [Passport Login System Tutorial ;;](https://www.youtube.com/watch?v=-RCnNyD0L-s)

## société 

* Problème sociétaux, esprit critique etc.. 
* [entretien-avec-mona-ozouf-la-force-de-lidee-republicaine-na-rien-perdu-de-son-eclat](https://www.laurorethinktank.fr/note/entretien-avec-mona-ozouf-la-force-de-lidee-republicaine-na-rien-perdu-de-son-eclat/)
* [les-religions-toxiques](http://egale.eu/les-religions-toxiques/)
* laïcité 
	* https://podcast.ausha.co/republique-du-net
	* http://www.laicite-republique.org/
	* [laÏcité et cimetieres-de-france](http://www.cimetieres-de-france.fr/actualite/news/189)
	* [entretiens-avec-les-maires-le-pape-les-restaurateurs-macron-prepare-l-apres-virus](https://www.lexpress.fr/actualite/politique/entretiens-avec-les-maires-le-pape-les-restaurateurs-macron-prepare-l-apres-virus_2124193.html)
* infox 
	* [je-ne-suis-pas-complotiste-mais-a-propos-de-laffaire-raoult](http://allodoxia.odilefillod.fr/2020/04/26/je-ne-suis-pas-complotiste-mais-a-propos-de-laffaire-raoult/)
	* [pesticides-causeraient-200000-morts-dans-monde-baliverne-18](https://www.agriculture-environnement.fr/2018/02/27/pesticides-causeraient-200000-morts-dans-monde-baliverne-18)
* glyphosate ::
	* [evaluation-scientifiques-opecst-controverse-glyphosate-circ-efsa](https://www.agriculture-environnement.fr/2019/09/09/evaluation-scientifiques-opecst-controverse-glyphosate-circ-efsa)
	* [20190516-pourquoi-etudes-glyphosate-divergent-monsanto-circ-oms-efsa](https://www.france24.com/fr/20190516-pourquoi-etudes-glyphosate-divergent-monsanto-circ-oms-efsa)
    * [mais qu'il est con ;;](https://www.youtube.com/watch?v=gx_Km2O6uWU)
	* [Le-glyphosate-est-il-cancerogene](https://www.pseudo-sciences.org/Le-glyphosate-est-il-cancerogene)
	* [un-rapport-parlementaire-refute-le-lien-entre-cancer-et-glyphosate](https://www.franceinter.fr/environnement/un-rapport-parlementaire-refute-le-lien-entre-cancer-et-glyphosate)
	* [sante-et-environnement-ce-que-dit-la-science-sur-le-glyphosate-15-09-2017](https://www.lepoint.fr/environnement/sante-et-environnement-ce-que-dit-la-science-sur-le-glyphosate-15-09-2017-2157302_1927.php)
	* Libé, checknews 8 juin 2018.. ::
    	* En résumé : Le glyphosate, comme toute molécule active, n’est pas inoffensif. Concernant son caractère cancérogène pour l’homme, au moins 10 agences internationales estiment les preuves insuffisantes, contre une qui 
        l’estime «probablement cancérogène». Des procès intentés par des malades contre le fabricant Monsanto sont en cours d’instruction dans le monde. Il n’existe pas véritablement de consensus scientifique dans un sens ou dans
        l’autre, pour deux raisons. Il n’est pas si simple de mettre en place un protocole expérimental pour mesurer le risque lié à l’exposition réelle à un seul produit. Par ailleurs, les industriels mettent en place des stratégies 
        pour maintenir le doute dans la communauté scientifique
	* [glyphosate-une-nouvelle-etude-independante-pour-evaluer-sa-dangerosite_3209555](https://www.francetvinfo.fr/sante/environnement-et-sante/glyphosate-une-nouvelle-etude-independante-pour-evaluer-sa-dangerosite_3209555.html)
	* [cancer-roundup-exposition-glyphosate-augmenterait-40-risque-certains-cancers-69297](https://www.futura-sciences.com/sante/actualites/cancer-roundup-exposition-glyphosate-augmenterait-40-risque-certains-cancers-69297/)
	* [293751-interdiction-glyphosate-verites-scientifiques-contre-lobbies-ecologiques](https://www.contrepoints.org/2018/05/29/293751-interdiction-glyphosate-verites-scientifiques-contre-lobbies-ecologiques)
	* [glyphosate-une-etude-montre-une-nette-augmentation-du-risque-de-lymphome_5424747_3244](https://www.lemonde.fr/planete/article/2019/02/18/glyphosate-une-etude-montre-une-nette-augmentation-du-risque-de-lymphome_5424747_3244.html)
	* [l-anses-promet-une-nouvelle-etude-sur-le-glyphosate_131767](https://www.sciencesetavenir.fr/sante/l-anses-promet-une-nouvelle-etude-sur-le-glyphosate_131767)
    * [les-idees-claires-glyphosate-pourquoi-personne-nest-daccord_2835745](https://www.francetvinfo.fr/monde/environnement/pesticides/glyphosate/les-idees-claires-glyphosate-pourquoi-personne-nest-daccord_2835745.html)
    * [petit-manuel-a-lire-pour-comprendre-le-debat-sur-le-glyphosate](https://www.lemonde.fr/les-decodeurs/article/2019/06/28/petit-manuel-a-lire-pour-comprendre-le-debat-sur-le-glyphosate_5482759_4355770.html)
    * [selon-une-etude-tres-serieuse-ou-pourquoi-il-est-important-de-lutter-contre-les-fake-news-scientifiques_a_23454225](https://www.huffingtonpost.fr/nicolas-martin/selon-une-etude-tres-serieuse-ou-pourquoi-il-est-important-de-lutter-contre-les-fake-news-scientifiques_a_23454225/)
        * En revanche, aux doses où elle est employée, il n'y a pas de risques avérés, ni pour les agriculteurs ni pour les consommateurs. Et ce, sur des cohortes allant jusqu'à plus de 50 000 agriculteurs, donc avec un taux de certitude très élevé
* [More than 10 people dead after gunman's rampage in N.S. community](https://www.cbc.ca/news/canada/nova-scotia/rcmp-weapon-lockdown-portapique-1.5537598)

## Discussions 

* https://www.twitch.tv/cafedessciences/

## Culture 

* https://fr.wikipedia.org/wiki/Tianwen
    
## bouquins, histoires.. 

* 平凡的世界
    
## langue 

*  They will guffaw at this stupid piece of legislation. Ils vont pouffer de rire devant cette stupide mesure législative.
    