
# Infos

* First sentence..

## infos diverses

* techno 
	* DL, QT et autre joyeusetés.. 
	* https://lelabquantique.com/
    * [IA-des-chercheurs-ont-mis-au-point-des-algorithmes-d-apprentissage-automatique-qui-s-ameliorent-generation-apres-generation-sans-intervention-humaine](https://intelligence-artificielle.developpez.com/actu/300279/IA-des-chercheurs-ont-mis-au-point-des-algorithmes-d-apprentissage-automatique-qui-s-ameliorent-generation-apres-generation-sans-intervention-humaine/)
* infos sciences sociales etc... 
	* https://www.cairn.info