
# Introduction

## example

* blabla
	* hop..

$menu_bim link:nm_Edit:ic_edit:href_baragouinage

1/1/16

* 光说空话不做事，犹如花园光长刺
* hocus pocus.. abracadabra ?!
* [Vamosplaya  %%](Vamosplaya.mp4)
* [huppe link](#huppe)
* video eg ::
    * [vidéo 1  ;;](http://www.youtube.com/watch?v=QH2-TGUlwu4)
* adding that
	* [en-direct-nie](http://www.balbucam.fr/fr/en-direct-nie/)
    * yepppp

## Example of equation

* first example
    * sum ::
        * $math \sum_{i=0}^n i^2 = \frac{(n^2+n)(2n+1)}{6}

## blablabla

# barag

25/4/19

* science ::
    * [en-los-castillos-tambien-hay-ciencia-nos-vamos-a-guadamur](https://viajandoconciencia.home.blog/2019/04/22/en-los-castillos-tambien-hay-ciencia-nos-vamos-a-guadamur/)
    * math ::
        * [brunn-minkowski-inequality](https://terrytao.wordpress.com/tag/brunn-minkowski-inequality/)
        * développer de nlles idées..
        * [A Brief History of Strahler Numbers §§](https://www7.informatik.tu-muenchen.de/~esparza/Talks/lata14.pdf)
        * [Lexique_de_la_théorie_des_graphes](https://fr.wikipedia.org/wiki/Lexique_de_la_th%C3%A9orie_des_graphes)
        * [GRAPHS, MATRICES, AND CIRCUIT THEORY §§](https://pdfs.semanticscholar.org/fe8f/2fead3aa49247efcf3da8e86488a5e236310.pdf)
    * ML ::
        * [Stochastic Deep Networks §§](https://arxiv.org/pdf/1811.07429.pdf)
        * commencer à créer des outils pr activité..

27/4/19

* prog ::
	* eaeaea
    * ppeorepr
    * dqdqd
    	* aeaea e
    * eaea
* job ::
	* test zône colorée pr chaque balise..
    * Caaeaealors !!!  INc
    * Cutrur alors !!!  INc
    * zzzalors !!!  INc* Caaaa mkdqd
    *aaaa alors gdg eae
* Caaaaaa alors !!!  Vin Didiouuuuu !! Es de puta madre !!
* !alert Ceci est une alerte.. 20_2_4

30/5/19

* Villes
	* $vid
	+++ sdata/videos/Villes
	[Milan The Naviglio Grande  Italia Slow Tour %%](Milan_The_Naviglio_Grande__Italia_Slow_Tour.mp4)
	[Rome en une minute  dolce vita dans la capitale italienne %%](Rome_en_une_minute__dolce_vita_dans_la_capitale_italienne.mp4)
	[ROMA Oliver Astrologo %%](ROMA_Oliver_Astrologo.mp4)
	[Valencia city %%](Valencia_city.mp4)
	[Alhambra - Granada, Andalusia, Spain in HD %%](Alhambra_-_Granada,_Andalusia,_Spain_in_HD.mp4)
	[Que faire a ROME  TOP 15 des activites  Voyage en Italie %%](Que_faire_a_ROME__TOP_15_des_activites__Voyage_en_Italie.mp4)
	[Valencia, Spain in 4K %%](Valencia,_Spain_in_4K.mp4)
	[Why is Tokyo the world's largest urban area 38 million people! %%](Why_is_Tokyo_the_world's_largest_urban_area_38_million_people!.mp4)
	[MILANO a volo di drone - riprese aeree milano %%](MILANO_a_volo_di_drone_-_riprese_aeree_milano.mp4)
* A lire Physique ::
	* !fold public/pdffiles/Phys

3/2/20

* Contacts
	* bidule
    	* !tél : 06-06-09-09-06
        * !mail : eduardo.corcovado@gmail.com
* divers ::
    * souris plus fluide avec roulette moins heurtée..
	* améliorer infos utiles..
    	* compléter Ricardo Bofill
        * papiers Fermi
        * papiers Dirac..
* admin ::
	* loyerrrrrrr
    * assurance habitation à envoyer à l'agence.. %%%
    * passer docs santé ds bitbuck en plus de syno
    	* limite risque de perte à cause pb synchro..
* Les turpitudes de Sieur Vlicklam.. 
* Le monde
	* !fold ../../../../media/sdata/Lemonde/2018 !inside
* test
	* !fold ../../../../media/sdata/docs/test !inside

# Science

## Géologie

### Volcans..

* !note araraar 100
* [config file ,,](bashrc.txt)

## Primates

* Docs, infos, vidéos sur les primates
* [Primates Phylogeny Hayasaka §§](sdata/papers_to_keep/Evolution/Molecular_phylogeny_and_evolution_of_primate_mitochondrial_DNA.pdf)
* [A Mitogenomic Phylogeny of Living Primates §§](sdata/papers_to_keep/Evolution/A_Mitogenomic_Phylogeny_of_Living_Primates.pdf)
* [eaeae](https://www.linuxmint.com/start/sylvia/)
* [uu](https://www.lemonde.fr/)
* articles primates
	* $pdf
    +++ sdata/papers_to_keep/Zoologie/Primates
    [LES PRIMATES Bertrand DEPUTTE §§](LES_PRIMATES_Bertrand_DEPUTTE.pdf)
    [Éthologie et cognition - le cas des primates §§](Éthologie_et_cognition_-_le_cas_des_primates.pdf)

## un air de déjà vu..

* [déjà vu §§](sdata/docs/test/djvu/optic.djvu)
* [déjà déjà vu §§](sdata/docs/test/djvu/colorbook.djvu)

## visible or not ..

* test de prev..
	* ```
    	bricabrac..
    	```
			
### test djvu again et audio..

* test divers sur divers formats..
* mixture
	* $pdf
    +++ sdata/docs/test/djvu_and_pdf
		[opt §§](optic.djvu)
        [Sankarisme §§](Sankarisme.pdf)
* [mesop %%](sdata/docs/test/audio/mesop.mp3)

# Musique..

* Diverses musiques.. 
* Brazil..
	* $vid
	+++ sdata/docs/test/vid/Brazil
	[Chico Buarque Essa Moça Tá Diferente %%](Chico_Buarque_Essa_Moça_Tá_Diferente.mp4)
	[Stacey Kent  How insensitive %%](Stacey_Kent__How_insensitive.mp4)
	[Samba de Verão Caetano Veloso %%](Samba_de_Verão_Caetano_Veloso.mp4)
	[Stan Getz Corcovado %%](Stan_Getz_Corcovado.mp4)
	[Erroll Garner Samba de uma nota so  1962 %%](Erroll_Garner_Samba_de_uma_nota_so__1962.mp4)
	[WAVE  TOM JOBIM  OSCAR PETERSON LIVE BBC 1976 %%](WAVE__TOM_JOBIM__OSCAR_PETERSON_LIVE_BBC_1976.mp4)
	[Soul Bossa Nova Quincy Johns %%](Soul_Bossa_Nova_Quincy_Johns.mp4)
	[Falsa Baiana Roberto Silva  Roberta Sá HD %%](Falsa_Baiana_Roberto_Silva__Roberta_Sá_HD.mp4)
	[Nova Insensatez  How Insensitive  Antonio Carlos Jobim %%](Nova_Insensatez__How_Insensitive__Antonio_Carlos_Jobim.mp4)
	[GIRL FROM IPANEMA %%](GIRL_FROM_IPANEMA.mp4)
	[Samba e Amor Água de Beber %%](Samba_e_Amor_Água_de_Beber.mp4)
	[Nossa Alma Canta feat. Robertinho De paula Wave San Marino Jazz %%](Nossa_Alma_Canta_feat._Robertinho_De_paula_Wave_San_Marino_Jazz.mp4)
	[Wave %%](Wave.mp4)
	[Bebel Gilberto So Nice  Summer Samba %%](Bebel_Gilberto_So_Nice__Summer_Samba.mp4)
	[The Girl From Ipanema World Music Bossa Brasil %%](The_Girl_From_Ipanema_World_Music_Bossa_Brasil.mp4)
* O Peterson 
	* $vid
	+++ sdata/zic/Jazz/Oscar-Peterson
	[Oscar Peterson Laura %%](Oscar_Peterson_Laura.mp4)
	[Oscar Peterson Autumn Leaves  Les Feuilles Mortes  Two Different Versions %%](Oscar_Peterson_Autumn_Leaves__Les_Feuilles_Mortes__Two_Different_Versions.mp4)
	[Oscar Peterson Piano Lesson %%](Oscar_Peterson_Piano_Lesson.mp4)
	[Oscar Peterson C Jam Blues %%](Oscar_Peterson_C_Jam_Blues.mp4)

