
# Personnages

* Denis Poisson
	* $pdf
	+++ sdata/papers_to_keep/perso/Science/Phys/Poisson
	[Theorie mathematique de la chaleur Poisson Simeon-Denis 1837 §§](Theorie_mathematique_de_la_chaleur_Poisson_Simeon-Denis_1837.pdf)
	[Simeon-Denis Poisson Les mathematiques au service de la science §§](Simeon-Denis_Poisson_Les_mathematiques_au_service_de_la_science.pdf)
	[Presentation du volume Simeon-Denis Poisson et la science de son temps §§](Presentation_du_volume_Simeon-Denis_Poisson_et_la_science_de_son_temps.pdf)
	[ENS fea-Poisson §§](ENS_fea-Poisson.pdf)
	[Traite de mecanique Tome 1 Poisson Simeon-Denis 1811 §§](Traite_de_mecanique_Tome_1_Poisson_Simeon-Denis_1811.pdf)
* Rutherford
	* $pdf
	+++ sdata/papers_to_keep/perso/Science/Phys/Rutherford
	[A PORTRAIT of Lord Rutherford §§](A_PORTRAIT_of_Lord_Rutherford.pdf)
* Schwinger
	* $pdf
	+++ sdata/papers_to_keep/perso/Science/Phys/Schwinger
	[Julian Schwinger at his 60th birthday §§](Julian_Schwinger_at_his_60th_birthday.pdf)
* Schrodinger
	* $pdf
	+++ sdata/papers_to_keep/perso/Science/Phys/Schrödinger
	[Schrödinger and Indian Philosophy §§](Schrödinger_and_Indian_Philosophy.pdf)
	[Schrodinger Equation Miller §§](Schrodinger_Equation_Miller.pdf)
	[Obituary Erwin Schrödinger, 1887-1961 §§](Obituary_Erwin_Schrödinger,_1887-1961.pdf)
	[What-is-Life §§](What-is-Life.pdf)
	[Erwin Schrödinger Nobel Prize in Physics 1933 §§](Erwin_Schrödinger_Nobel_Prize_in_Physics_1933.pdf)
	[Schrodinger 1926 Matrix and wave mechanics §§](Schrodinger_1926_Matrix_and_wave_mechanics.pdf)
* Teller
	* $pdf
	+++ sdata/papers_to_keep/perso/Science/Phys/Teller
	[DEVIATIONS FROM THERMAL EQUILIBRIUM IN SHOCK WAVES Bethe Teller §§](DEVIATIONS_FROM_THERMAL_EQUILIBRIUM_IN_SHOCK_WAVES_Bethe_Teller.pdf)
	[Jahn and Teller 1937 §§](Jahn_and_Teller_1937.pdf)
	[Electromagnetism and gravitation EDWARD TELLER §§](Electromagnetism_and_gravitation_EDWARD_TELLER.pdf)
	[Jahn-Teller effect Denis Golez §§](Jahn-Teller_effect_Denis_Golez.pdf)
	[Edward Teller National Academy of Sciences §§](Edward_Teller_National_Academy_of_Sciences.pdf)
* Tyndall
	* $pdf
	+++ sdata/papers_to_keep/perso/Science/Phys/Tyndall
	[JOHN TYNDALL 1820-1893 §§](JOHN_TYNDALL_1820-1893.pdf)
	[John Tyndall- His Pioneering Contributions to Climate Science and Scientific Outreach §§](John_Tyndall-_His_Pioneering_Contributions_to_Climate_Science_and_Scientific_Outreach.pdf)
	[tyndall-1861 §§](tyndall-1861.pdf)
	[JOHN TYNDALL AND THE ROYAL MEDAL THAT WAS NEVER STRUCK §§](JOHN_TYNDALL_AND_THE_ROYAL_MEDAL_THAT_WAS_NEVER_STRUCK.pdf)
	[Tyndall, The life of a physicist in Victorian Britain §§](Tyndall,_The_life_of_a_physicist_in_Victorian_Britain.pdf)
	[The atmospheric science of John Tyndall 1820-1893 §§](The_atmospheric_science_of_John_Tyndall_1820-1893.pdf)
	[JOHN TYNDALL Orbituary §§](JOHN_TYNDALL_Orbituary.pdf)
* DE ci delà..
	* Afin d'accéder au texte !!



