
# tests

* First sentence..

# ahaha

## example of curious thing..

* invers of inverse..

2/4/20

## Hawking

* [epub §§](sdata/docs/test1/epub/Dernieres_nouvelles_des_trous_noirs_Stephen_Hawking.epub)

## Rana

* [epub §§](sdata/docs/test/epub/Ici,_les_femmes_ne_rêvent_pas_Recit_dune_evasion_Rana_Ahmad.epub)

## Bla 

* node_strap
	* réussir à simplifier code pr autres pages..
    	* ça ouvre la possiblité à mettre bcp plus d'autres feuilles..
* job 
	* eaeaea
    * poeae
* phys 
	* Galilée.. 
    * Newton 
    * Einstein.. 
* prog 
	* regexp.. 
    * for loop 
    * if then else.. 
* math 
	* Théorème 
    * démo 
    * géométrie.. 
    	* triangle 
        * carré 
        * cercle 
    * projection 
* !alert test punaise..  20_4_19
* [javascript-get-x-and-y-coordinates-on-mouse-click](https://stackoverflow.com/questions/23744605/javascript-get-x-and-y-coordinates-on-mouse-click)

