
# todo

* First sentence..

17/12/25

* things planned for today

##### Exemple de notes avec date

## Mai 2022

14/5/22

* santé
	* dentiste
* admin
    * contacter assurance pr la dent
* divers
	* récup num Courrier
    	* vr ceux qui me manquent
	* faire liste des start up autour de chez moi
	* aller vr expos
    * vr Klapisch
    * passer médiathèque
* boulot
	* ML
    	* interf
        	* ne pas avoir à faire
            	* les transfo 8 bits avec Napari..
            * présentation des résultats
            	* en mosaïque
            	* en superposition

## Juin 2022


8/6/22

* divers
    * achats
    	* récip plastique hermétique pr 12h
        * tomates
	* développer le thème cuisine..
	* nettoyer sol appart
* prog
	* améliorer outil dessin
    	* avec ce que j'ai fait pr interf ML
    * faire un outil pr faire de l'animation..

10/7/22

* drôle
	* ahahah
* santé
	* pr rdv cardiologue
    * pr infos pr dent gauche

24/7/22

* bricolage
	* RPy etc..
    	* pr contrôler à distance..
        	* voir solution bien établie..
    	* refaire le point..
* prog
	* node_strap
    	* réfléchir à améliorations..
    * node_diapos
    	* reprendre le proj..
        * vr pr faire exportation format pdf..
        * poss de charger des présas
        * dessiner en direct sur la diapo..
        * suivi pointeur laser avec ML !!!!



